openapi: 3.0.0


info:
  version: '1.0.0' # Your API version
  title: Zenduty 
  termsOfService: 'https://zenduty.com'
  contact:
    email: vishwa@zenduty.com
  license:
    name: Apache 2.0
  x-logo:
    url: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii05OC4zIDE3My43IDIwNi4zIDUzLjIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTk4LjMgMTczLjcgMjA2LjMgNTMuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzBGMTcyQTt9DQoJLnN0MXtmaWxsOiNGRDlBMDA7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0tMjksMjEwLjJoNi4zYzIuNywwLDQuOSwyLjIsNC45LDQuOWgtMTguMWMwLTUuMyw0LjEtOS40LDcuOS0xMy4xbDMuOC0zLjdoLTcuMWMtMi41LDAtNC42LTIuMS00LjYtNC42aDE4DQoJYzAsNS4zLTQuMSw5LjQtNy44LDEzLjJMLTI5LDIxMC4yeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTMuNywyMDUuOGgtMTUuNWMwLjEsMS41LDAuNiwyLjcsMS42LDMuNmMwLjksMC45LDIuMSwxLjIsMy41LDEuMmMyLDAsMy40LTAuOSw0LjMtMi41aDUuOA0KCWMtMC42LDItMS44LDMuNi0zLjUsNC45Yy0xLjgsMS4yLTMuOSwyLTYuNCwyYy0yLDAtMy45LTAuNS01LjUtMS40Yy0xLjYtMC45LTIuOS0yLjEtMy44LTMuN2MtMC45LTEuNi0xLjQtMy40LTEuNC01LjcNCgljMC0yLjEsMC41LTQuMSwxLjQtNS43YzAuOS0xLjYsMi4xLTIuOCwzLjgtMy43YzEuNi0wLjksMy40LTEuNCw1LjUtMS40YzIsMCwzLjgsMC40LDUuNCwxLjJjMS42LDAuOSwyLjgsMi4xLDMuNywzLjYNCgljMC45LDEuNiwxLjMsMy4zLDEuMyw1LjRDMy44LDIwNC42LDMuOCwyMDUuMiwzLjcsMjA1Ljh6IE0tMS43LDIwMi4yYzAtMS40LTAuNS0yLjUtMS41LTMuMmMtMS0wLjktMi4xLTEuMi0zLjUtMS4yDQoJYy0xLjQsMC0yLjQsMC40LTMuNCwxLjJjLTAuOSwwLjctMS41LDEuOC0xLjYsMy4zaDEwLjFWMjAyLjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjcuOSwxOTguNGMwLjktMS42LDItMi45LDMuNS0zLjhjMS41LTAuOSwzLjEtMS40LDQuOS0xLjRjMS40LDAsMi42LDAuMywzLjksMC45YzEuMywwLjYsMi4zLDEuNCwzLDIuNHYtMTYuNw0KCWg1LjR2MzVoLTUuNHYtMy4xYy0wLjYsMS0xLjYsMS45LTIuOCwyLjVjLTEuMywwLjYtMi42LDEtNC4yLDFjLTEuOCwwLTMuNC0wLjUtNC45LTEuNGMtMS41LTAuOS0yLjYtMi4zLTMuNS0zLjkNCgljLTAuOS0xLjYtMS4zLTMuNS0xLjMtNS44QzI2LjYsMjAyLDI3LDIwMCwyNy45LDE5OC40eiBNNDIuNSwyMDAuOWMtMC41LTAuOS0xLjMtMS42LTItMi4xYy0wLjktMC41LTEuOC0wLjgtMi44LTAuOA0KCWMtMSwwLTEuOSwwLjMtMi44LDAuOGMtMC45LDAuNS0xLjUsMS4xLTIsMi4xYy0wLjUsMC45LTAuOCwyLTAuOCwzLjNjMCwxLjMsMC4zLDIuNCwwLjgsMy40YzAuNSwxLDEuMywxLjYsMiwyLjENCgljMC45LDAuNSwxLjgsMC44LDIuOCwwLjhjMSwwLDEuOS0wLjMsMi44LTAuOGMwLjktMC41LDEuNS0xLjMsMi0yLjFjMC41LTAuOSwwLjgtMiwwLjgtMy40UzQzLDIwMS44LDQyLjUsMjAwLjl6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjUuNCwyMDQuM3YxMC42aC01di0xMC42YzAtMi0wLjUtMy41LTEuNS00LjVjLTEtMS4xLTIuMS0xLjYtMy41LTEuNnMtMi41LDAuNS0zLjUsMS42DQoJYy0wLjksMS0xLjQsMi42LTEuNCw0LjV2MTAuNkg1LjV2LTEwLjZjMC0yLjEsMC41LTQsMS4zLTUuN2MwLjktMS42LDItMi45LDMuNS0zLjhzMy4xLTEuNCw1LTEuNHMzLjUsMC41LDUsMS40DQoJYzEuNSwwLjksMi42LDIuMSwzLjUsMy44QzI0LjksMjAwLjMsMjUuNCwyMDIuMiwyNS40LDIwNC4zeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTUxLjMsMjA0LjF2LTEwLjRoNXYxMC40YzAsMiwwLjUsMy41LDEuNSw0LjVjMSwxLjEsMi4xLDEuNiwzLjUsMS42YzEuNCwwLDIuNS0wLjUsMy41LTEuNg0KCWMwLjktMSwxLjQtMi42LDEuNC00LjV2LTEwLjRoNC45djEwLjRjMCwyLjEtMC41LDQtMS4zLDUuN2MtMC45LDEuNi0yLDIuOS0zLjUsMy44Yy0xLjUsMC45LTMuMSwxLjQtNSwxLjRzLTMuNS0wLjUtNS0xLjQNCgljLTEuNS0wLjktMi42LTIuMS0zLjUtMy44QzUxLjcsMjA4LjEsNTEuMywyMDYuMiw1MS4zLDIwNC4xeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTgwLjcsMTk4djEwLjJjMCwwLjgsMC4xLDEuMywwLjUsMS41YzAuNCwwLjQsMC45LDAuNSwxLjgsMC41aDIuNXY0LjVoLTMuNGMtNC41LDAtNi44LTIuMS02LjgtNi41VjE5OGgtNS4xDQoJdi00LjRoNS4xdi04LjdoNS40djguN2g0LjhsMi42LDQuNEg4MC43eiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwNy40LDE5My42bC04LjcsMjAuNmwtNSwxMS44aC01LjdsNS4xLTExLjhsLTguNC0yMC42aDZsNS40LDE0LjdsNS41LTE0LjdIMTA3LjR6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTY2LjksMTg5LjJjLTEuOSwwLTQuNy0yLjEtNC43LTQuOHYtMy42YzAtMi43LDAuOC00LjgsNC43LTQuOGMzLjksMCw0LjcsMi4xLDQuNyw0Ljh2My42DQoJQy02Mi4yLDE4Ny4xLTY1LDE4OS4yLTY2LjksMTg5LjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTM3LjcsMjIzaC0yMS41bDMuOC0xMS40bDAuNy0xLjhjNC4yLDEuNywxMy4xLDcuMiwxNy43LDExLjZDLTM2LjQsMjIyLjEtMzYuOCwyMjMtMzcuNywyMjN6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTU3LjMsMTkyLjlsLTE1LjksMTAuNGMtNC4yLTIuNS05LjItNS45LTEyLjItOC44Yy0wLjYtMC42LTAuMi0xLjUsMC43LTEuNUgtNTcuM3oiLz4NCjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0tNDguNiwxOTQuM2wtNiwxNS42bC0wLjcsMS44bC0zLjgsMTEuNEgtOTZjLTAuOCwwLTEuMy0wLjktMC44LTEuNWMwLjktMS4yLDEuOC0yLjMsMi43LTMuMw0KCWMyLjEtMi4yLDQuNC00LjEsNi45LTUuOGwwLjEtMC4xYzAuOC0wLjYsMS42LTEuMSwyLjQtMS42bDExLjQtNy40bDE1LjktMTAuNGg3LjdDLTQ4LjgsMTkyLjktNDguNCwxOTMuNi00OC42LDE5NC4zeiIvPg0KPC9zdmc+DQo='
  description: |
    # Introduction
    
    Zenduty is a cutting edge platform for incident management. With high level automation, Zenduty enables faster and better incident resolution keeping developers first.
      
      
      Javascript Libraries: https://github.com/Zenduty/zenduty-js
      
      Ruby Libraries: https://github.com/Zenduty/zenduty-ruby
      
      Python Libraries: https://github.com/Zenduty/zenduty-python-sdk

      Postman Collection for Zenduty API: https://github.com/Zenduty/zenduty-api-postman.git
      
    
# A list of tags used by the specification with additional metadata.
# The order of the tags can be used to reflect on their order by the parsing tools.
tags:
- name: Account Member
  description: Account Member api's
- name: Teams
  description: Teams api's
- name: Team Members
  description: Team Members api's
- name: Schedules
  description: Schedules api's
- name: Escalation Policies
  description: Escalation Policies api's
- name: Services
  description: Services api's
- name: Integrations
  description: Integrations api's
- name: Integration Alerts
  description: Integration Alerts api's
- name: Incidents
  description: Incidents api's
- name: Incident Roles
  description: Incident Roles api's
- name: Incident Notes
  description: Incident Notes api's
- name: Events
  description: Event api's
- name: Incident Alerts
  description: Incident Alerts api's
- name: Tags
  description: Tags api's
- name: Task Templates
  description: Task Templates api's
- name: Priorities
  description: Priorities api's
- name: SLA
  description: SLA api's
- name: Team Maintenance Mode
  description: Team Maintenance Mode api's
- name: Postmortem
  description: Postmortem api's
- name: OnCall
  description: OnCall api's
  
  
servers:
 - url: 'https://www.zenduty.com'
 
 
paths:
  
  '/api/account/members/':
    get: 
      tags:
      - Account Member
      summary: Get Account Members
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMember'
              example:
                - unique_id: 3361b627-e340-4e67-a015-1288b1f926e3
                  time_zone: Asia/Kolkata
                  user:
                    username: 85e1569d-79a4-4205-850f-a
                    first_name: Anshul
                    last_name: Admin
                    email: anshul@admin.com
                  joining_date: '2019-07-09T11:13:49.035598Z'
                  role: 1
                  is_verified: true
                - unique_id: bd78097b-b343-44b0-a686-65ba1bfba6d1
                  time_zone: UTC
                  user:
                    username: 6278fd1d-7e7c-486a-80e3-5
                    first_name: Anshul
                    last_name: Manager
                    email: anshul@manager.com
                  joining_date: '2022-03-07T11:48:53.852632Z'
                  role: 3
                  is_verified: false
                - unique_id: b8afc826-9139-456c-a980-4aa4d92f9658
                  time_zone: UTC
                  user:
                    username: e901875c-bee4-40fa-9ca6-8
                    first_name: Anshul
                    last_name: User
                    email: anshul@user.com
                  joining_date: '2022-03-08T10:34:55.300601Z'
                  role: 3
                  is_verified: false
                - unique_id: 722c52f5-3623-414b-bd0f-1275b7548b43
                  time_zone: UTC
                  user:
                    username: ee93f063-0941-426e-9b9a-4
                    first_name: extra
                    last_name: admin
                    email: extra@admin.com
                  joining_date: '2022-06-09T11:39:58.575353Z'
                  role: 2
                  is_verified: false
                - unique_id: 1f7e13bc-73d9-4b7e-b0e7-e31d44597fef
                  time_zone: UTC
                  user:
                    username: 1cd94dad-8485-4bc5-9cf5-e
                    first_name: Modified Name
                    last_name: user
                    email: extra@user.com
                  joining_date: '2022-06-09T11:41:12.105572Z'
                  role: 3
                  is_verified: false
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
  
  '/api/account/members/{member_username}/':
      parameters: 
        - name: 'member_username'
          in: path
          description: Username of Account Member
          schema:
            type: string
          required: true
      get: 
        tags:
        - Account Member
        summary: Get Account Member by Username
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AccountMember'
                example:
                  unique_id: 1f7e13bc-73d9-4b7e-b0e7-e31d44597fef
                  time_zone: UTC
                  user:
                    username: 1cd94dad-8485-4bc5-9cf5-e
                    first_name: New Name
                    last_name: user
                    email: extra@user.com
                  joining_date: '2022-06-09T11:41:12.105572Z'
                  role: 3
                  is_verified: false
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      put:
        tags:
          - Account Member
        summary: Update Account Member
        security:
          - bearerAuth: []
        requestBody:
          description: Account Member update payload
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMemberPutPayload'
              example:
                user:
                  first_name: Modified Name
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AccountMember'
                example:
                  unique_id: 1f7e13bc-73d9-4b7e-b0e7-e31d44597fef
                  time_zone: UTC
                  user:
                    username: 1cd94dad-8485-4bc5-9cf5-e
                    first_name: Modified Name
                    last_name: user
                    email: extra@user.com
                  joining_date: '2022-06-09T11:41:12.105572Z'
                  role: 3
                  is_verified: false
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
  
  '/api/account/teams/':
    post:
      tags:
        - Teams
      summary: Create Team
      security:
        - bearerAuth: []
      requestBody:
        description: Team create payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamPostPayload'
            example: 
              name: New Team
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
              example:
                unique_id: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                name: New Team
                account: 61fb2d9e-088b-471f-a6d7-872c03cf483d
                creation_date: '2022-06-21'
                members:
                  - unique_id: b674c920-b2b4-4f6e-82ab-9a345e86f6be
                    team: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                    user:
                      username: 85e1569d-79a4-4205-850f-a
                      first_name: Anshul
                      last_name: Admin
                      email: anshul@admin.com
                    joining_date: '2022-06-21T11:30:27.817493Z'
                    role: 1
                owner: 85e1569d-79a4-4205-850f-a
                roles:
                  - unique_id: f36c37b8-7f78-4bfc-b645-8c65e985d367
                    team: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                    title: Incident Commander
                    description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                    creation_date: '2022-06-21T11:30:27.855502Z'
                    rank: 1
        '400':
          description: Bad Request 
          content:
            application/json:
              example:
                - Team name already exists
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
    get: 
      tags:
      - Teams
      summary: Get Teams
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
              example:
                - unique_id: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                  name: Team 1
                  account: 61fb2d9e-088b-471f-a6d7-872c03cf483d
                  creation_date: '2022-06-21'
                  members:
                    - unique_id: b674c920-b2b4-4f6e-82ab-9a345e86f6be
                      team: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                      user:
                        username: 85e1569d-79a4-4205-850f-a
                        first_name: Anshul
                        last_name: Admin
                        email: anshul@admin.com
                      joining_date: '2022-06-21T11:30:27.817493Z'
                      role: 1
                  owner: 85e1569d-79a4-4205-850f-a
                  roles:
                    - unique_id: f36c37b8-7f78-4bfc-b645-8c65e985d367
                      team: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-06-21T11:30:27.855502Z'
                      rank: 1
                - unique_id: 3ee7d2c8-cfe8-4655-b713-e83e4f43cdaa
                  name: Team 2
                  account: 61fb2d9e-088b-471f-a6d7-872c03cf483d
                  creation_date: '2022-06-09'
                  members:
                    - unique_id: 050ec024-a8a2-4c2d-8b32-00238ad2b38a
                      team: 3ee7d2c8-cfe8-4655-b713-e83e4f43cdaa
                      user:
                        username: 85e1569d-79a4-4205-850f-a
                        first_name: Anshul
                        last_name: Admin
                        email: anshul@admin.com
                      joining_date: '2022-06-09T11:38:35.866957Z'
                      role: 1
                    - unique_id: ef49ed63-bca9-4988-9a2f-112120c5e1b8
                      team: 3ee7d2c8-cfe8-4655-b713-e83e4f43cdaa
                      user:
                        username: 6278fd1d-7e7c-486a-80e3-5
                        first_name: Anshul
                        last_name: Manager
                        email: anshul@manager.com
                      joining_date: '2022-06-09T11:38:36.813218Z'
                      role: 2
                    - unique_id: 96170e71-c133-4625-87ea-60105afa1a93
                      team: 3ee7d2c8-cfe8-4655-b713-e83e4f43cdaa
                      user:
                        username: e901875c-bee4-40fa-9ca6-8
                        first_name: Anshul
                        last_name: User
                        email: anshul@user.com
                      joining_date: '2022-06-09T11:38:37.609236Z'
                      role: 2
                  owner: 85e1569d-79a4-4205-850f-a
                  roles:
                    - unique_id: b3ad3286-548b-40b8-8e2d-b8d3fd2d3220
                      team: 3ee7d2c8-cfe8-4655-b713-e83e4f43cdaa
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-06-09T11:38:35.897746Z'
                      rank: 1
                - unique_id: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  name: Team 3
                  account: 61fb2d9e-088b-471f-a6d7-872c03cf483d
                  creation_date: '2022-04-14'
                  members:
                    - unique_id: 4843d1da-2308-44e6-b73d-ffcd253899be
                      team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                      user:
                        username: 85e1569d-79a4-4205-850f-a
                        first_name: Anshul
                        last_name: Admin
                        email: anshul@admin.com
                      joining_date: '2022-04-14T08:09:23.573093Z'
                      role: 2
                    - unique_id: 39905ba1-1ace-4763-a5d6-f6ad5a0a788f
                      team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                      user:
                        username: 6278fd1d-7e7c-486a-80e3-5
                        first_name: Anshul
                        last_name: Manager
                        email: anshul@manager.com
                      joining_date: '2022-04-27T07:47:12.543213Z'
                      role: 1
                    - unique_id: 0d54d800-b7da-4314-9850-f118fad1c078
                      team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                      user:
                        username: e901875c-bee4-40fa-9ca6-8
                        first_name: Anshul
                        last_name: User
                        email: anshul@user.com
                      joining_date: '2022-04-20T11:01:42.942598Z'
                      role: 2
                  owner: 85e1569d-79a4-4205-850f-a
                  roles:
                    - unique_id: 51d7c734-7231-441e-acd6-edb43972dea4
                      team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-04-14T08:09:23.781893Z'
                      rank: 1
                    - unique_id: 57889813-b3a1-453f-9544-b7529d33ed4d
                      team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                      title: modified title
                      description: ''
                      creation_date: '2022-04-20T11:02:10.402283Z'
                      rank: 1
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json: # operation response mime type
              example:
                detail: You do not have permission to perform this action.
                
  '/api/account/teams/{team_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of a Team
          schema:
            type: string
          required: true
      get: 
        tags:
        - Teams
        summary: Get Team by ID
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Team'
                example:
                  unique_id: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                  name: New Team
                  account: 61fb2d9e-088b-471f-a6d7-872c03cf483d
                  creation_date: '2022-06-21'
                  members:
                    - unique_id: b674c920-b2b4-4f6e-82ab-9a345e86f6be
                      team: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                      user:
                        username: 85e1569d-79a4-4205-850f-a
                        first_name: Anshul
                        last_name: Admin
                        email: anshul@admin.com
                      joining_date: '2022-06-21T11:30:27.817493Z'
                      role: 1
                  owner: 85e1569d-79a4-4205-850f-a
                  roles:
                    - unique_id: f36c37b8-7f78-4bfc-b645-8c65e985d367
                      team: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-06-21T11:30:27.855502Z'
                      rank: 1
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      put:
        tags:
          - Teams
        summary: Update a Team
        security:
          - bearerAuth: []
        requestBody:
          description: Team update payload
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamPutPayload'
              example:
                name: Modified Team
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Team'
                example:
                  unique_id: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                  name: Modified Team
                  account: 61fb2d9e-088b-471f-a6d7-872c03cf483d
                  creation_date: '2022-06-21'
                  members:
                    - unique_id: b674c920-b2b4-4f6e-82ab-9a345e86f6be
                      team: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                      user:
                        username: 85e1569d-79a4-4205-850f-a
                        first_name: Anshul
                        last_name: Admin
                        email: anshul@admin.com
                      joining_date: '2022-06-21T11:30:27.817493Z'
                      role: 1
                  owner: 85e1569d-79a4-4205-850f-a
                  roles:
                    - unique_id: f36c37b8-7f78-4bfc-b645-8c65e985d367
                      team: 52c65e3f-51c1-44ae-b163-b31fde4c1fc5
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-06-21T11:30:27.855502Z'
                      rank: 1
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Teams
        summary: Delete a Team
        security:
          - bearerAuth: []
        responses: 
          '204':
            description: Success
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{}/members/':
    parameters: 
    - name: 'team_id'
      in: path
      description: Unique ID of a Team
      schema:
        type: string
      required: true
    post:
      tags:
        - Team Members
      summary: Create Team Member
      security:
        - bearerAuth: []
      requestBody:
        description: Team Member create payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamMemberPostPayload'
            example:
              user: ee93f063-0941-426e-9b9a-4
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
              example:
                unique_id: 294c06de-8612-4f76-a1eb-73e116f53cc9
                team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                user: ee93f063-0941-426e-9b9a-4
                joining_date: '2022-06-30T09:04:20.141170Z'
                role: 2
        '400':
          description: Bad Request 
          content:
            application/json:
              example:
                - "User already exists"
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
    get: 
      tags:
      - Team Members
      summary: Get Team Members 
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
              example:
                - unique_id: 4843d1da-2308-44e6-b73d-ffcd253899be
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  user:
                    username: 85e1569d-79a4-4205-850f-a
                    first_name: Anshul
                    last_name: Admin
                    email: anshul@admin.com
                  joining_date: '2022-04-14T08:09:23.573093Z'
                  role: 2
                - unique_id: 39905ba1-1ace-4763-a5d6-f6ad5a0a788f
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  user:
                    username: 6278fd1d-7e7c-486a-80e3-5
                    first_name: Anshul
                    last_name: Manager
                    email: anshul@manager.com
                  joining_date: '2022-04-27T07:47:12.543213Z'
                  role: 1
                - unique_id: 0d54d800-b7da-4314-9850-f118fad1c078
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  user:
                    username: e901875c-bee4-40fa-9ca6-8
                    first_name: Anshul
                    last_name: User
                    email: anshul@user.com
                  joining_date: '2022-04-20T11:01:42.942598Z'
                  role: 2
                - unique_id: 294c06de-8612-4f76-a1eb-73e116f53cc9
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  user:
                    username: ee93f063-0941-426e-9b9a-4
                    first_name: extra
                    last_name: admin
                    email: extra@admin.com
                  joining_date: '2022-06-30T09:04:20.141170Z'
                  role: 2
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
                
  '/api/account/teams/{team_id}/members/{member_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of a Team
          schema:
            type: string
          required: true
        - name: 'member_id'
          in: path
          description: Unique ID of a Team Member
          schema:
            type: string
          required: true
      get: 
        tags:
        - Team Members
        summary: Get Team Member by ID
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TeamMember'
                example:
                  unique_id: 4843d1da-2308-44e6-b73d-ffcd253899be
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  user:
                    username: 85e1569d-79a4-4205-850f-a
                    first_name: Anshul
                    last_name: Admin
                    email: anshul@admin.com
                  joining_date: '2022-04-14T08:09:23.573093Z'
                  role: 2
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      put:
        tags:
          - Team Members
        summary: Update Team Member
        security:
          - bearerAuth: []
        requestBody:
          description: Team Member update payload
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMemberPutPayload'
              example:
                user: 85e1569d-79a4-4205-850f-a
                role: 1
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TeamMember'
                example:
                  unique_id: 4843d1da-2308-44e6-b73d-ffcd253899be
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  user: 85e1569d-79a4-4205-850f-a
                  joining_date: '2022-04-14T08:09:23.573093Z'
                  role: 1
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Team Members
        summary: Delete Team Member
        security:
          - bearerAuth: []
        responses: 
          '204':
            description: Success
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{}/schedule/':
    parameters: 
    - name: 'team_id'
      in: path
      description: Unique ID of a Team
      schema:
        type: string
      required: true
    post:
      tags:
        - Schedules
      summary: Create Schedule
      security:
        - bearerAuth: []
      requestBody:
        description: Schedule create payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePostPayload'
            example:
              name: New Schedule
              summary: Summary for the new Schedule
              descripition: This is the description for the new Schedule
              time_zone: Asia/Kolkata
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
              example:
                name: New Schedule
                summary: Summary for the new Schedule
                description: ''
                time_zone: Asia/Kolkata
                team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                layers: []
                overrides: []
                unique_id: a6bcac67-d009-4afc-af17-30e2b1366460
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
    get: 
      tags:
      - Schedules
      summary: Get Schedules
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
              example:
                - name: Team1
                  summary: ''
                  description: ''
                  time_zone: UTC
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  layers: []
                  overrides: []
                  unique_id: ecf402c5-0ca6-4f46-b5f7-f36b795e1980
                - name: New Schedule
                  summary: Summary for the new Schedule
                  description: ''
                  time_zone: Asia/Kolkata
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  layers: []
                  overrides: []
                  unique_id: a6bcac67-d009-4afc-af17-30e2b1366460
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
                
  '/api/account/teams/{team_id}/schedules/{schedule_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of a Team
          schema:
            type: string
          required: true
        - name: 'schedule_id'
          in: path
          description: Unique ID of a Schedule
          schema:
            type: string
          required: true
      get: 
        tags:
        - Schedules
        summary: Get Schedule by ID
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Schedule'
                example:
                  name: New Schedule
                  summary: Summary for the new Schedule
                  description: ''
                  time_zone: Asia/Kolkata
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  layers: []
                  overrides: []
                  unique_id: a6bcac67-d009-4afc-af17-30e2b1366460
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      put:
        tags:
          - Schedules
        summary: Update Schedule
        security:
          - bearerAuth: []
        requestBody:
          description: Schedule update payload
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchedulePutPayload'
              example:
                name: Modified Schedule
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/Schedule'
                example:
                  name: Modified Schedule
                  summary: Summary for the new Schedule
                  description: ''
                  time_zone: Asia/Kolkata
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  layers: []
                  overrides: []
                  unique_id: a6bcac67-d009-4afc-af17-30e2b1366460
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Schedules
        summary: Delete Schedule
        security:
          - bearerAuth: []
        responses:
          '204':
            description: Success
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{}/escalation_policies/':
    parameters: 
    - name: 'team_id'
      in: path
      description: Unique ID of a Team
      schema:
        type: string
      required: true
    post:
      tags:
        - Escalation Policies
      summary: Create Escalation Policy
      security:
        - bearerAuth: []
      requestBody:
        description: Escalation Policy create payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EPPostPayload'
            example:
              name: New Escalation Policy
              summary: This is the summary for the new escalation policy
              description: This is the description for the New Escalation Policy
              rules:
                - delay: 0
                  targets:
                    - target_type: 2
                      target_id: 85e1569d-79a4-4205-850f-a
                  position: 1
                  unique_id: ''
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EP'
              example:
                name: New Escalation Policy
                summary: This is the summary for the new escalation policy
                description: This is the description for the New Escalation Policy
                rules:
                  - delay: 0
                    targets:
                      - target_type: 2
                        target_id: 85e1569d-79a4-4205-850f-a
                    position: 1
                    unique_id: 87e41be1-ce43-4ec3-87b6-d4cb4f751cce
                unique_id: 1fd12a33-8d81-4ad8-a30a-cfb2c2955392
                team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                repeat_policy: 0
                move_to_next: true
                global_ep: false
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
    get: 
      tags:
      - Escalation Policies
      summary: Get Escalation Policies
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/EP'
              example:
                - name: Default Escalation Policy
                  summary: This is the default escalation policy for this team
                  description: ''
                  rules:
                    - delay: 0
                      targets:
                        - target_type: 2
                          target_id: 85e1569d-79a4-4205-850f-a
                      position: 1
                      unique_id: c7ad4f67-6d84-49ac-a821-8d5e3f5c63ea
                  unique_id: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
                - name: New Escalation Policy
                  summary: This is the summary for the new escalation policy
                  description: This is the description for the New Escalation Policy
                  rules:
                    - delay: 0
                      targets:
                        - target_type: 2
                          target_id: 85e1569d-79a4-4205-850f-a
                      position: 1
                      unique_id: 87e41be1-ce43-4ec3-87b6-d4cb4f751cce
                  unique_id: 1fd12a33-8d81-4ad8-a30a-cfb2c2955392
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
                
  '/api/account/teams/{team_id}/escalation_policies/{escalation_policy_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of a Team
          schema:
            type: string
          required: true
        - name: 'escalation_policy_id'
          in: path
          description: Unique ID of Escalation Policy
          schema:
            type: string
          required: true
      get: 
        tags:
        - Escalation Policies
        summary: Get Escalation Policy by ID
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/EP'
                example:
                  name: New Escalation Policy
                  summary: This is the summary for the new escalation policy
                  description: This is the description for the New Escalation Policy
                  rules:
                    - delay: 0
                      targets:
                        - target_type: 2
                          target_id: 85e1569d-79a4-4205-850f-a
                      position: 1
                      unique_id: 87e41be1-ce43-4ec3-87b6-d4cb4f751cce
                  unique_id: 1fd12a33-8d81-4ad8-a30a-cfb2c2955392
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      put:
        tags:
          - Escalation Policies
        summary: Update Escalation Policy
        security:
          - bearerAuth: []
        requestBody:
          description: Escalation Policy update payload
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EPPutPayload'
              example:
                name: Modified Escalation Policy
                rules:
                  - delay: 0
                    targets:
                      - target_type: 2
                        target_id: 85e1569d-79a4-4205-850f-a
                    position: 1
                    unique_id: 87e41be1-ce43-4ec3-87b6-d4cb4f751cce
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EP'
                example:
                  name: Modified Escalation Policy
                  summary: This is the summary for the new escalation policy
                  description: This is the description for the New Escalation Policy
                  rules:
                    - delay: 0
                      targets:
                        - target_type: 2
                          target_id: 85e1569d-79a4-4205-850f-a
                      position: 1
                      unique_id: 994e5ab2-377e-4dd8-a16f-ef7ec4c9b9e4
                  unique_id: 1fd12a33-8d81-4ad8-a30a-cfb2c2955392
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Escalation Policies
        summary: Delete Escalation Policy
        security:
          - bearerAuth: []
        responses: 
          '204':
            description: Success
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{}/services/':
    parameters: 
    - name: 'team_id'
      in: path
      description: Unique ID of a Team
      schema:
        type: string
      required: true
    post:
      tags:
        - Services
      summary: Create Service
      security:
        - bearerAuth: []
      requestBody:
        description: Servie create payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePostPayload'
            example:
              name: New Service
              collation: 1
              collation_time: 1
              description: This is the description for the New Service
              escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
              team_priority: null
              sla: null
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
              example:
                name: New Service
                creation_date: '2022-06-30T09:49:45.493513Z'
                summary: ''
                description: This is the description for the New Service
                unique_id: c2631cd1-d5dd-4eed-b8d8-c8fd52e76589
                auto_resolve_timeout: 0
                created_by: 85e1569d-79a4-4205-850f-a
                team_priority: null
                task_template: null
                acknowledgement_timeout: 0
                status: 1
                escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                sla: null
                collation_time: 1
                collation: 1
        '400':
          description: Bad Request 
          content:
            application/json:
              example:
                team_priority:
                  - This field is required.
                sla:
                  - This field is required.
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
    get: 
      tags:
      - Services
      summary: Get Services
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ServiceInfo'
              example:
                - name: dnlv
                  creation_date: '2022-04-14T08:46:19.039007Z'
                  summary: ''
                  description: nckjxv
                  unique_id: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  auto_resolve_timeout: 0
                  created_by: 85e1569d-79a4-4205-850f-a
                  team_priority: null
                  task_template: null
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  sla: null
                  under_maintenance: false
                  collation: 1
                  collation_time: 1
                - name: Modified Service
                  creation_date: '2022-06-24T11:25:51.454276Z'
                  summary: ''
                  description: This is the description for the modified Service
                  unique_id: 78bbd207-5852-44d1-8812-83dd8b0938f5
                  auto_resolve_timeout: 0
                  created_by: 85e1569d-79a4-4205-850f-a
                  team_priority: null
                  task_template: null
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  sla: null
                  under_maintenance: false
                  collation: 1
                  collation_time: 1
                - name: New Service
                  creation_date: '2022-06-30T09:49:45.493513Z'
                  summary: ''
                  description: This is the description for the New Service
                  unique_id: c2631cd1-d5dd-4eed-b8d8-c8fd52e76589
                  auto_resolve_timeout: 0
                  created_by: 85e1569d-79a4-4205-850f-a
                  team_priority: null
                  task_template: null
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  sla: null
                  under_maintenance: false
                  collation: 1
                  collation_time: 1
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
                
  '/api/account/teams/{team_id}/services/{service_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of a Team
          schema:
            type: string
          required: true
        - name: 'service_id'
          in: path
          description: Unique ID of a Service
          schema:
            type: string
          required: true
      get: 
        tags:
        - Services
        summary: Get Service by ID
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json: 
                schema: 
                  $ref: '#/components/schemas/ServiceInfo'
                example:
                  name: New Service
                  creation_date: '2022-06-30T09:49:45.493513Z'
                  summary: ''
                  description: This is the description for the New Service
                  unique_id: c2631cd1-d5dd-4eed-b8d8-c8fd52e76589
                  auto_resolve_timeout: 0
                  created_by: 85e1569d-79a4-4205-850f-a
                  team_priority: null
                  task_template: null
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  sla: null
                  under_maintenance: false
                  collation: 1
                  collation_time: 1
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      put:
        tags:
          - Services
        summary: Update Service
        security:
          - bearerAuth: []
        requestBody:
          description: Service update payload
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePutPayload'
              example:
                name: Modified Service
                description: This is the description for the modified Service
                escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                team_priority: null
                sla: null
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/ServiceInfo'
                example:
                  name: Modified Service
                  creation_date: '2022-06-30T09:49:45.493513Z'
                  summary: ''
                  description: This is the description for the modified Service
                  unique_id: c2631cd1-d5dd-4eed-b8d8-c8fd52e76589
                  auto_resolve_timeout: 0
                  created_by: 85e1569d-79a4-4205-850f-a
                  team_priority: null
                  task_template: null
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  sla: null
                  collation_time: 1
                  collation: 1
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Services
        summary: Delete Service
        security:
          - bearerAuth: []
        responses: 
          '204':
            description: Success
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{}/services/{service_id}/integrations':
    parameters: 
    - name: 'team_id'
      in: path
      description: Unique ID of a Team
      schema:
        type: string
      required: true
    - name: 'service_id'
      in: path
      description: Unique ID of a Service
      schema:
        type: string
      required: true
    post:
      tags:
        - Integrations
      summary: Create Integrations
      security:
        - bearerAuth: []
      requestBody:
        description: Integrations create payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationPostPayload'
            example:
              name: New Integration
              summary: This is the summary for new Integration
              application: 3603a509-fc83-42d7-9144-a7223bbd9bf1
      responses:
        '201':
          description: OK
          content:
            application/json: 
              schema: 
                $ref: '#/components/schemas/Integration'
              example:
                name: New Integration
                creation_date: '2022-06-29T13:53:12.427300Z'
                summary: This is the summary for new Integration
                unique_id: c97a29c5-2b70-4674-a934-117cc6f0c50f
                service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                application: 3603a509-fc83-42d7-9144-a7223bbd9bf1
                application_reference:
                  name: Anodot
                  icon_url: ''
                  summary: test
                  description: test
                  unique_id: 3603a509-fc83-42d7-9144-a7223bbd9bf1
                  availability_plan_id: 1
                  setup_instructions: <integrationURL>
                  extension: anodot
                  application_type: 0
                  categories: APM
                  documentation_link: ''
                integration_key: 8ecc797e-8b4b-46bb-908c-058a328ff9fd
                created_by: 85e1569d-79a4-4205-850f-a
                is_enabled: true
                create_incidents_for: 1
                integration_type: 0
                default_urgency: 1
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
    get: 
      tags:
      - Integrations
      summary: Get Integrations
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
              example:
                - name: Anodot
                  creation_date: '2022-04-14T08:46:19.184696Z'
                  summary: Edit summary for this integration
                  unique_id: d162f6f9-6258-4408-a5bc-63c46ad4deb8
                  service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  application: 3603a509-fc83-42d7-9144-a7223bbd9bf1
                  application_reference:
                    name: Anodot
                    icon_url: ''
                    summary: test
                    description: test
                    unique_id: 3603a509-fc83-42d7-9144-a7223bbd9bf1
                    availability_plan_id: 1
                    setup_instructions: <integrationURL>
                    extension: anodot
                    application_type: 0
                    categories: APM
                    documentation_link: ''
                  integration_key: b91f575d-14e8-4426-b063-7b171dcf3ca2
                  created_by: 85e1569d-79a4-4205-850f-a
                  is_enabled: true
                  create_incidents_for: 1
                  integration_type: 0
                  default_urgency: 1
                - name: vgdjzhc
                  creation_date: '2022-04-26T07:33:54.512953Z'
                  summary: vbchxjkvx
                  unique_id: bb0775f7-3029-4893-9d42-0cad6008144f
                  service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  application: 9e9b4b40-add2-41fe-a502-95a573730489
                  application_reference:
                    name: Cloud watch
                    icon_url: t
                    summary: test
                    description: test
                    unique_id: 9e9b4b40-add2-41fe-a502-95a573730489
                    availability_plan_id: 1
                    setup_instructions: test
                    extension: cloudwatch
                    application_type: 0
                    categories: 'APM,CI/CD'
                    documentation_link: t
                  integration_key: 720c35f1-b30b-4527-82d8-1e850da43f1e
                  created_by: 85e1569d-79a4-4205-850f-a
                  is_enabled: true
                  create_incidents_for: 1
                  integration_type: 0
                  default_urgency: 1
                - name: fsd
                  creation_date: '2022-06-21T07:40:18.805204Z'
                  summary: dsffv
                  unique_id: 07064e0e-f166-4f6d-8f96-502fd06e6ee5
                  service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  application: 8c2acfbb-9e74-4c22-8733-d67e474a9bd4
                  application_reference:
                    name: FreshDesk 2-Way
                    icon_url: 'https://sm.pcmag.com/t/pcmag_in/review/f/freshdesk/freshdesk_z1u3.640.jpg'
                    summary: test
                    description: Test
                    unique_id: 8c2acfbb-9e74-4c22-8733-d67e474a9bd4
                    availability_plan_id: 1
                    setup_instructions: ''
                    extension: freshdesk2way
                    application_type: 1
                    categories: ''
                    documentation_link: ''
                  integration_key: 8eb354d6-6e30-4787-924a-5c9abf9af9cb
                  created_by: 85e1569d-79a4-4205-850f-a
                  is_enabled: true
                  create_incidents_for: 1
                  integration_type: 0
                  default_urgency: 1
                - name: New Integration
                  creation_date: '2022-06-29T13:53:12.427300Z'
                  summary: This is the summary for new Integration
                  unique_id: c97a29c5-2b70-4674-a934-117cc6f0c50f
                  service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  application: 3603a509-fc83-42d7-9144-a7223bbd9bf1
                  application_reference:
                    name: Anodot
                    icon_url: ''
                    summary: test
                    description: test
                    unique_id: 3603a509-fc83-42d7-9144-a7223bbd9bf1
                    availability_plan_id: 1
                    setup_instructions: <integrationURL>
                    extension: anodot
                    application_type: 0
                    categories: APM
                    documentation_link: ''
                  integration_key: 8ecc797e-8b4b-46bb-908c-058a328ff9fd
                  created_by: 85e1569d-79a4-4205-850f-a
                  is_enabled: true
                  create_incidents_for: 1
                  integration_type: 0
                  default_urgency: 1
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
                
  '/api/account/teams/{team_id}/services/{service_id}/integrations/{integration_id}':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of a Team
          schema:
            type: string
          required: true
        - name: 'service_id'
          in: path
          description: Unique ID of a Service
          schema:
            type: string
          required: true
        - name: 'integration_id'
          in: path
          description: Unique ID of an Integration
          schema:
            type: string
          required: true
      get: 
        tags:
        - Integrations
        summary: Get Integration by ID
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Integration'
                example:
                  name: New Integration
                  creation_date: '2022-06-29T13:53:12.427300Z'
                  summary: This is the summary for new Integration
                  unique_id: c97a29c5-2b70-4674-a934-117cc6f0c50f
                  service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  application: 3603a509-fc83-42d7-9144-a7223bbd9bf1
                  application_reference:
                    name: Anodot
                    icon_url: ''
                    summary: test
                    description: test
                    unique_id: 3603a509-fc83-42d7-9144-a7223bbd9bf1
                    availability_plan_id: 1
                    setup_instructions: <integrationURL>
                    extension: anodot
                    application_type: 0
                    categories: APM
                    documentation_link: ''
                  integration_key: 8ecc797e-8b4b-46bb-908c-058a328ff9fd
                  created_by: 85e1569d-79a4-4205-850f-a
                  is_enabled: true
                  create_incidents_for: 1
                  integration_type: 0
                  default_urgency: 1
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json: # operation response mime type
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: # operation response mime type
                example:
                  detail: Not Found.
      put:
        tags:
          - Integrations
        summary: Update Integration
        security:
          - bearerAuth: []
        requestBody:
          description: Integration update payload
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationPutPayload'
              example:
                name: Modified Integration
                application: 3603a509-fc83-42d7-9144-a7223bbd9bf1
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Integration'
                example:
                  name: Modified Integration
                  creation_date: '2022-06-29T13:53:12.427300Z'
                  summary: This is the summary for new Integration
                  unique_id: c97a29c5-2b70-4674-a934-117cc6f0c50f
                  service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  application: 3603a509-fc83-42d7-9144-a7223bbd9bf1
                  application_reference:
                    name: Anodot
                    icon_url: ''
                    summary: test
                    description: test
                    unique_id: 3603a509-fc83-42d7-9144-a7223bbd9bf1
                    availability_plan_id: 1
                    setup_instructions: <integrationURL>
                    extension: anodot
                    application_type: 0
                    categories: APM
                    documentation_link: ''
                  integration_key: 8ecc797e-8b4b-46bb-908c-058a328ff9fd
                  created_by: 85e1569d-79a4-4205-850f-a
                  is_enabled: true
                  create_incidents_for: 1
                  integration_type: 0
                  default_urgency: 1
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Integrations
        summary: Delete Integration
        security:
          - bearerAuth: []
        responses:
          '204':
            description: Success
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{team_id}/services/{service_id}/integrations/{integration_id}/alerts/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of a Team
          schema:
            type: string
          required: true
        - name: 'service_id'
          in: path
          description: Unique ID of a Service
          schema:
            type: string
          required: true
        - name: 'integration_id'
          in: path
          description: Unique ID of an Integration
          schema:
            type: string
          required: true
      get: 
        tags:
        - Integration Alerts
        summary: Get Integration Alerts
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AlertList'
                example:
                  - integration_object:
                      name: Anodot
                      creation_date: '2022-04-14T08:46:19.184696Z'
                      summary: Edit summary for this integration
                      unique_id: d162f6f9-6258-4408-a5bc-63c46ad4deb8
                      service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                      team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                      integration_key: b91f575d-14e8-4426-b063-7b171dcf3ca2
                      is_enabled: true
                      integration_type: 0
                    summary: New summary
                    incident: 544
                    creation_date: '2022-07-04T11:19:31.874110Z'
                    message: New Message
                    integration: d162f6f9-6258-4408-a5bc-63c46ad4deb8
                    suppressed: false
                    entity_id: 66d8d262-e264-4f33-9620-a0e6325f
                    alert_type: '3'
                    unique_id: TGiG9z5qqeud7XfDYAHNzR
                    images: []
                    urls: []
                    notes: []
                  - integration_object:
                      name: Anodot
                      creation_date: '2022-04-14T08:46:19.184696Z'
                      summary: Edit summary for this integration
                      unique_id: d162f6f9-6258-4408-a5bc-63c46ad4deb8
                      service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                      team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                      integration_key: b91f575d-14e8-4426-b063-7b171dcf3ca2
                      is_enabled: true
                      integration_type: 0
                    summary: some summary
                    incident: 541
                    creation_date: '2022-07-04T09:38:08.241579Z'
                    message: Some message
                    integration: d162f6f9-6258-4408-a5bc-63c46ad4deb8
                    suppressed: false
                    entity_id: 473e1c18-e3e6-415c-bfa5-8d6edf4e
                    alert_type: '3'
                    unique_id: BhZfoGTYnwVo5FLaVcwBAF
                    images: []
                    urls: []
                    notes: []
                  - integration_object:
                      name: Anodot
                      creation_date: '2022-04-14T08:46:19.184696Z'
                      summary: Edit summary for this integration
                      unique_id: d162f6f9-6258-4408-a5bc-63c46ad4deb8
                      service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                      team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                      integration_key: b91f575d-14e8-4426-b063-7b171dcf3ca2
                      is_enabled: true
                      integration_type: 0
                    summary: some summary
                    incident: 543
                    creation_date: '2022-07-04T09:37:56.359138Z'
                    message: Some message
                    integration: d162f6f9-6258-4408-a5bc-63c46ad4deb8
                    suppressed: false
                    entity_id: 6625dcdf-ff43-4762-b6a8-749f7b73
                    alert_type: '3'
                    unique_id: XxLpRvcE74ZieP32Kn5h4T
                    images: []
                    urls: []
                    notes: []
                  - integration_object:
                      name: Anodot
                      creation_date: '2022-04-14T08:46:19.184696Z'
                      summary: Edit summary for this integration
                      unique_id: d162f6f9-6258-4408-a5bc-63c46ad4deb8
                      service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                      team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                      integration_key: b91f575d-14e8-4426-b063-7b171dcf3ca2
                      is_enabled: true
                      integration_type: 0
                    summary: some summary
                    incident: 542
                    creation_date: '2022-07-04T09:37:56.212548Z'
                    message: Some message
                    integration: d162f6f9-6258-4408-a5bc-63c46ad4deb8
                    suppressed: false
                    entity_id: 2e37a6b1-3b59-431d-9074-6bf4bdc3
                    alert_type: '3'
                    unique_id: UrmFTdkfuAZkKHddLB8fEK
                    images: []
                    urls: []
                    notes: []
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
                  
  '/api/incidents/':
    post:
      tags:
        - Incidents
      summary: Create Incident
      security:
        - bearerAuth: []
      requestBody:
        description: Incident create payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentPostPayload'
            example:
              title: New Incident
              service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
              example:
                summary: ''
                incident_number: 540
                creation_date: '2022-07-04T08:26:17.949675Z'
                status: 1
                unique_id: KubkXJGFfeC3HE68JWR3zA
                service_object:
                  name: dnlv
                  creation_date: '2022-04-14T08:46:19.039007Z'
                  summary: ''
                  description: nckjxv
                  unique_id: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  auto_resolve_timeout: 0
                  created_by: 85e1569d-79a4-4205-850f-a
                  team_priority: null
                  task_template: null
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  sla: null
                  collation_time: 1
                  collation: 1
                title: New Incident
                incident_key: hRcvtmMoyK9HHWzV566MbV
                service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                urgency: 1
                merged_with: null
                assigned_to: null
                escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                escalation_policy_object:
                  unique_id: 0487dcc1-e900-48d0-880d-f7662766cd07
                  name: Default Escalation Policy
                assigned_to_name: ''
                resolved_date: null
                acknowledged_date: null
                context_window_start: null
                context_window_end: null
                tags: []
                sla: null
                sla_object: null
                team_priority: null
                team_priority_object: null
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
    get: 
      tags:
      - Incidents
      summary: Get Incidents
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/Incident'
              example:
               - summary: ''
                 incident_number: 540
                 creation_date: '2022-07-04T08:26:17.949675Z'
                 status: 1
                 unique_id: KubkXJGFfeC3HE68JWR3zA
                 service_object:
                   name: dnlv
                   creation_date: '2022-04-14T08:46:19.039007Z'
                   summary: ''
                   description: nckjxv
                   unique_id: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                   auto_resolve_timeout: 0
                   created_by: 85e1569d-79a4-4205-850f-a
                   team_priority: null
                   task_template: null
                   acknowledgement_timeout: 0
                   status: 1
                   escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                   team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                   sla: null
                   collation_time: 1
                   collation: 1
                 title: New Incident
                 incident_key: hRcvtmMoyK9HHWzV566MbV
                 service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                 urgency: 1
                 merged_with: null
                 assigned_to: null
                 escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                 escalation_policy_object:
                   unique_id: 0487dcc1-e900-48d0-880d-f7662766cd07
                   name: Default Escalation Policy
                 assigned_to_name: ''
                 resolved_date: null
                 acknowledged_date: null
                 context_window_start: null
                 context_window_end: null
                 tags: []
                 sla: null
                 sla_object: null
                 team_priority: null
                 team_priority_object: null
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
                
  '/api/incidents/{incident_number}/':
      parameters: 
        - name: 'incident_number'
          in: path
          description: Incident Number of the Incident
          schema:
            type: string
          required: true
      get: 
        tags:
        - Incidents
        summary: Get Incident by Incident Number
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json: 
                schema: 
                  $ref: '#/components/schemas/Incident'
                example:
                  summary: ''
                  incident_number: 540
                  creation_date: '2022-07-04T08:26:17.949675Z'
                  status: 1
                  unique_id: KubkXJGFfeC3HE68JWR3zA
                  service_object:
                    name: dnlv
                    creation_date: '2022-04-14T08:46:19.039007Z'
                    summary: ''
                    description: nckjxv
                    unique_id: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                    auto_resolve_timeout: 0
                    created_by: 85e1569d-79a4-4205-850f-a
                    team_priority: null
                    task_template: null
                    acknowledgement_timeout: 0
                    status: 1
                    escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                    team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                    sla: null
                    collation_time: 1
                    collation: 1
                  title: New Incident
                  incident_key: hRcvtmMoyK9HHWzV566MbV
                  service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  urgency: 1
                  merged_with: null
                  assigned_to: null
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  escalation_policy_object:
                    unique_id: 0487dcc1-e900-48d0-880d-f7662766cd07
                    name: Default Escalation Policy
                  assigned_to_name: ''
                  resolved_date: null
                  acknowledged_date: null
                  context_window_start: null
                  context_window_end: null
                  tags: []
                  sla: null
                  sla_object: null
                  team_priority: null
                  team_priority_object: null
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json: # operation response mime type
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: # operation response mime type
                example:
                  detail: Not Found.
      put:
        tags:
          - Incidents
        summary: Update Incident
        security:
          - bearerAuth: []
        requestBody:
          description: Incident update payload
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentPutPayload'
              example:
                title: Modified Incident
                service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
        responses:
          '200':
            description: OK
            content:
              application/json: 
                schema: 
                  $ref: '#/components/schemas/Incident'
                example:
                  summary: ''
                  incident_number: 540
                  creation_date: '2022-07-04T08:26:17.949675Z'
                  status: 1
                  unique_id: KubkXJGFfeC3HE68JWR3zA
                  service_object:
                    name: dnlv
                    creation_date: '2022-04-14T08:46:19.039007Z'
                    summary: ''
                    description: nckjxv
                    unique_id: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                    auto_resolve_timeout: 0
                    created_by: 85e1569d-79a4-4205-850f-a
                    team_priority: null
                    task_template: null
                    acknowledgement_timeout: 0
                    status: 1
                    escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                    team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                    sla: null
                    collation_time: 1
                    collation: 1
                  title: Modified Incident
                  incident_key: hRcvtmMoyK9HHWzV566MbV
                  service: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  urgency: 1
                  merged_with: null
                  assigned_to: null
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  escalation_policy_object:
                    unique_id: 0487dcc1-e900-48d0-880d-f7662766cd07
                    name: Default Escalation Policy
                  assigned_to_name: ''
                  resolved_date: null
                  acknowledged_date: null
                  context_window_start: null
                  context_window_end: null
                  tags: []
                  sla: null
                  sla_object: null
                  team_priority: null
                  team_priority_object: null
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{}/roles/':
    parameters: 
    - name: 'team_id'
      in: path
      description: Unique ID of a Team
      schema:
        type: string
      required: true
    post:
      tags:
        - Incident Roles
      summary: Create Incident Role
      security:
        - bearerAuth: []
      requestBody:
        description: Incident Role create payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRPostPayload'
            example:
              title: New Role
              description: This is the description for the new Role
              rank: 5
      responses:
        '201':
          description: OK
          content:
            application/json: 
              schema: 
                $ref: '#/components/schemas/IncidentRoles'
              example:
                unique_id: 7f824232-6885-4ae2-b32c-ce10a7d8ce43
                title: New Role
                description: This is the description for the new Role
                creation_date: '2022-07-01T08:14:26.432504Z'
                rank: 5
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json: 
              example:
                detail: You do not have permission to perform this action.
    get: 
      tags:
      - Incident Roles
      summary: Get Incident Roles
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/IncidentRoles'
              example:
                - unique_id: 51d7c734-7231-441e-acd6-edb43972dea4
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  title: Incident Commander
                  description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                  creation_date: '2022-04-14T08:09:23.781893Z'
                  rank: 1
                - unique_id: 57889813-b3a1-453f-9544-b7529d33ed4d
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  title: modified title
                  description: ''
                  creation_date: '2022-04-20T11:02:10.402283Z'
                  rank: 1
                - unique_id: 7f824232-6885-4ae2-b32c-ce10a7d8ce43
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  title: New Role
                  description: This is the description for the new Role
                  creation_date: '2022-07-01T08:14:26.432504Z'
                  rank: 5
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
                
  '/api/account/teams/{team_id}/roles/{incident_role_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of a Team
          schema:
            type: string
          required: true
        - name: 'incident_role_id'
          in: path
          description: Unique ID of an Incident Role
          schema:
            type: string
          required: true
      get: 
        tags:
        - Incident Roles
        summary: Get Incident Role by ID
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json: 
                schema:
                  $ref: '#/components/schemas/IncidentRoles'
                example:
                  unique_id: 7f824232-6885-4ae2-b32c-ce10a7d8ce43
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  title: New Role
                  description: This is the description for the new Role
                  creation_date: '2022-07-01T08:14:26.432504Z'
                  rank: 5
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
      put:
        tags:
          - Incident Roles
        summary: Update Incident Role
        security:
          - bearerAuth: []
        requestBody:
          description: Incident Role update payload
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IRPutPayload'
              example:
                title: Modified Role
        responses:
          '200':
            description: OK
            content:
              application/json: 
                schema: 
                  $ref: '#/components/schemas/IncidentRoles'
                example:
                  unique_id: 7f824232-6885-4ae2-b32c-ce10a7d8ce43
                  title: Modified Role
                  description: This is the description for the new Role
                  creation_date: '2022-07-01T08:14:26.432504Z'
                  rank: 5
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Incident Roles
        summary: Delete Incident Role
        security:
          - bearerAuth: []
        responses:
          '204':
            description: Success
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
                  
  '/api/incidents/{incident_number}/note/':
    parameters: 
    - name: 'incident_number'
      in: path
      description: Incident Number of an Incident
      schema:
        type: string
      required: true
    post:
      tags:
        - Incident Notes
      summary: Create Incident Note
      security:
        - bearerAuth: []
      requestBody:
        description: Incident Note create payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentNotePostPayload'
            example:
              note: New Note
      responses:
        '201':
          description: OK
          content:
            application/json: 
              schema: 
                $ref: '#/components/schemas/IncidentNote'
              example:
                unique_id: kQuQKxo6khCJgt4FiJLVfd
                incident: 540
                user: 85e1569d-79a4-4205-850f-a
                note: New Note
                user_name: Anshul Admin
                creation_date: '2022-07-04T09:13:33.767558Z'
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
    get: 
      tags:
      - Incident Notes
      summary: Get Incident Notes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json: 
              schema: 
                $ref: '#/components/schemas/IncidentNote'
              example:
               - unique_id: kQuQKxo6khCJgt4FiJLVfd
                 incident: 540
                 user: 85e1569d-79a4-4205-850f-a
                 note: New Note
                 user_name: Anshul Admin
                 creation_date: '2022-07-04T09:13:33.767558Z'
        '400':
          description: Bad Request 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
                
  '/api/incidents/{incident_number}/note/{note_unique_id}':
      parameters: 
        - name: 'incident_number'
          in: path
          description: Incident Number of an Incident
          schema:
            type: string
          required: true
        - name: 'note_unique_id'
          in: path
          description: Unique ID of an Incident Note
          schema:
            type: string
          required: true
      get: 
        tags:
        - Incident Notes
        summary: Get Incident Note by ID
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/IncidentNote'
                example:
                  unique_id: kQuQKxo6khCJgt4FiJLVfd
                  incident: 540
                  user: 85e1569d-79a4-4205-850f-a
                  note: New Note
                  user_name: Anshul Admin
                  creation_date: '2022-07-04T09:13:33.767558Z'
          '400':
            description: Bad Request 
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
          '404':
[...]
