openapi: 3.0.0


info:
  version: '1.1.0' # Your API version
  title: Zenduty 
  termsOfService: 'https://zenduty.com'
  contact:
    email: vishwa@zenduty.com
  license:
    name: Apache 2.0
  x-logo:
    url: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii05OC4zIDE3My43IDIwNi4zIDUzLjIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTk4LjMgMTczLjcgMjA2LjMgNTMuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzBGMTcyQTt9DQoJLnN0MXtmaWxsOiNGRDlBMDA7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0tMjksMjEwLjJoNi4zYzIuNywwLDQuOSwyLjIsNC45LDQuOWgtMTguMWMwLTUuMyw0LjEtOS40LDcuOS0xMy4xbDMuOC0zLjdoLTcuMWMtMi41LDAtNC42LTIuMS00LjYtNC42aDE4DQoJYzAsNS4zLTQuMSw5LjQtNy44LDEzLjJMLTI5LDIxMC4yeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTMuNywyMDUuOGgtMTUuNWMwLjEsMS41LDAuNiwyLjcsMS42LDMuNmMwLjksMC45LDIuMSwxLjIsMy41LDEuMmMyLDAsMy40LTAuOSw0LjMtMi41aDUuOA0KCWMtMC42LDItMS44LDMuNi0zLjUsNC45Yy0xLjgsMS4yLTMuOSwyLTYuNCwyYy0yLDAtMy45LTAuNS01LjUtMS40Yy0xLjYtMC45LTIuOS0yLjEtMy44LTMuN2MtMC45LTEuNi0xLjQtMy40LTEuNC01LjcNCgljMC0yLjEsMC41LTQuMSwxLjQtNS43YzAuOS0xLjYsMi4xLTIuOCwzLjgtMy43YzEuNi0wLjksMy40LTEuNCw1LjUtMS40YzIsMCwzLjgsMC40LDUuNCwxLjJjMS42LDAuOSwyLjgsMi4xLDMuNywzLjYNCgljMC45LDEuNiwxLjMsMy4zLDEuMyw1LjRDMy44LDIwNC42LDMuOCwyMDUuMiwzLjcsMjA1Ljh6IE0tMS43LDIwMi4yYzAtMS40LTAuNS0yLjUtMS41LTMuMmMtMS0wLjktMi4xLTEuMi0zLjUtMS4yDQoJYy0xLjQsMC0yLjQsMC40LTMuNCwxLjJjLTAuOSwwLjctMS41LDEuOC0xLjYsMy4zaDEwLjFWMjAyLjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjcuOSwxOTguNGMwLjktMS42LDItMi45LDMuNS0zLjhjMS41LTAuOSwzLjEtMS40LDQuOS0xLjRjMS40LDAsMi42LDAuMywzLjksMC45YzEuMywwLjYsMi4zLDEuNCwzLDIuNHYtMTYuNw0KCWg1LjR2MzVoLTUuNHYtMy4xYy0wLjYsMS0xLjYsMS45LTIuOCwyLjVjLTEuMywwLjYtMi42LDEtNC4yLDFjLTEuOCwwLTMuNC0wLjUtNC45LTEuNGMtMS41LTAuOS0yLjYtMi4zLTMuNS0zLjkNCgljLTAuOS0xLjYtMS4zLTMuNS0xLjMtNS44QzI2LjYsMjAyLDI3LDIwMCwyNy45LDE5OC40eiBNNDIuNSwyMDAuOWMtMC41LTAuOS0xLjMtMS42LTItMi4xYy0wLjktMC41LTEuOC0wLjgtMi44LTAuOA0KCWMtMSwwLTEuOSwwLjMtMi44LDAuOGMtMC45LDAuNS0xLjUsMS4xLTIsMi4xYy0wLjUsMC45LTAuOCwyLTAuOCwzLjNjMCwxLjMsMC4zLDIuNCwwLjgsMy40YzAuNSwxLDEuMywxLjYsMiwyLjENCgljMC45LDAuNSwxLjgsMC44LDIuOCwwLjhjMSwwLDEuOS0wLjMsMi44LTAuOGMwLjktMC41LDEuNS0xLjMsMi0yLjFjMC41LTAuOSwwLjgtMiwwLjgtMy40UzQzLDIwMS44LDQyLjUsMjAwLjl6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjUuNCwyMDQuM3YxMC42aC01di0xMC42YzAtMi0wLjUtMy41LTEuNS00LjVjLTEtMS4xLTIuMS0xLjYtMy41LTEuNnMtMi41LDAuNS0zLjUsMS42DQoJYy0wLjksMS0xLjQsMi42LTEuNCw0LjV2MTAuNkg1LjV2LTEwLjZjMC0yLjEsMC41LTQsMS4zLTUuN2MwLjktMS42LDItMi45LDMuNS0zLjhzMy4xLTEuNCw1LTEuNHMzLjUsMC41LDUsMS40DQoJYzEuNSwwLjksMi42LDIuMSwzLjUsMy44QzI0LjksMjAwLjMsMjUuNCwyMDIuMiwyNS40LDIwNC4zeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTUxLjMsMjA0LjF2LTEwLjRoNXYxMC40YzAsMiwwLjUsMy41LDEuNSw0LjVjMSwxLjEsMi4xLDEuNiwzLjUsMS42YzEuNCwwLDIuNS0wLjUsMy41LTEuNg0KCWMwLjktMSwxLjQtMi42LDEuNC00LjV2LTEwLjRoNC45djEwLjRjMCwyLjEtMC41LDQtMS4zLDUuN2MtMC45LDEuNi0yLDIuOS0zLjUsMy44Yy0xLjUsMC45LTMuMSwxLjQtNSwxLjRzLTMuNS0wLjUtNS0xLjQNCgljLTEuNS0wLjktMi42LTIuMS0zLjUtMy44QzUxLjcsMjA4LjEsNTEuMywyMDYuMiw1MS4zLDIwNC4xeiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTgwLjcsMTk4djEwLjJjMCwwLjgsMC4xLDEuMywwLjUsMS41YzAuNCwwLjQsMC45LDAuNSwxLjgsMC41aDIuNXY0LjVoLTMuNGMtNC41LDAtNi44LTIuMS02LjgtNi41VjE5OGgtNS4xDQoJdi00LjRoNS4xdi04LjdoNS40djguN2g0LjhsMi42LDQuNEg4MC43eiIvPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwNy40LDE5My42bC04LjcsMjAuNmwtNSwxMS44aC01LjdsNS4xLTExLjhsLTguNC0yMC42aDZsNS40LDE0LjdsNS41LTE0LjdIMTA3LjR6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTY2LjksMTg5LjJjLTEuOSwwLTQuNy0yLjEtNC43LTQuOHYtMy42YzAtMi43LDAuOC00LjgsNC43LTQuOGMzLjksMCw0LjcsMi4xLDQuNyw0Ljh2My42DQoJQy02Mi4yLDE4Ny4xLTY1LDE4OS4yLTY2LjksMTg5LjJ6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTM3LjcsMjIzaC0yMS41bDMuOC0xMS40bDAuNy0xLjhjNC4yLDEuNywxMy4xLDcuMiwxNy43LDExLjZDLTM2LjQsMjIyLjEtMzYuOCwyMjMtMzcuNywyMjN6Ii8+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTU3LjMsMTkyLjlsLTE1LjksMTAuNGMtNC4yLTIuNS05LjItNS45LTEyLjItOC44Yy0wLjYtMC42LTAuMi0xLjUsMC43LTEuNUgtNTcuM3oiLz4NCjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0tNDguNiwxOTQuM2wtNiwxNS42bC0wLjcsMS44bC0zLjgsMTEuNEgtOTZjLTAuOCwwLTEuMy0wLjktMC44LTEuNWMwLjktMS4yLDEuOC0yLjMsMi43LTMuMw0KCWMyLjEtMi4yLDQuNC00LjEsNi45LTUuOGwwLjEtMC4xYzAuOC0wLjYsMS42LTEuMSwyLjQtMS42bDExLjQtNy40bDE1LjktMTAuNGg3LjdDLTQ4LjgsMTkyLjktNDguNCwxOTMuNi00OC42LDE5NC4zeiIvPg0KPC9zdmc+DQo='
  description: |
    # Introduction
    
    Zenduty is a cutting edge platform for incident management. With high level automation, Zenduty enables faster and better incident resolution keeping developers first.
      
      
      Javascript Libraries: https://github.com/Zenduty/zenduty-js
      
      Ruby Libraries: https://github.com/Zenduty/zenduty-ruby
      
      Python Libraries: https://github.com/Zenduty/zenduty-python-sdk

      Postman Collection for Zenduty API: https://github.com/Zenduty/zenduty-api-postman.git
      
    
# A list of tags used by the specification with additional metadata.
# The order of the tags can be used to reflect on their order by the parsing tools.
tags:
- name: Account Member
  description: Account Member api's
- name: Teams
  description: Teams api's
- name: Team Members
  description: Team Members api's
- name: Schedules
  description: Schedules api's
- name: Escalation Policies
  description: Escalation Policies api's
- name: Services
  description: Services api's
- name: Integrations
  description: Integrations api's
- name: Integration Alerts
  description: Integration Alerts api's
- name: Incidents
  description: Incidents api's
- name: Incident Roles
  description: Incident Roles api's
- name: Incident Notes
  description: Incident Notes api's
- name: Events
  description: Event api's
- name: Incident Alerts
  description: Incident Alerts api's
- name: Tags
  description: Tags api's
- name: Task Templates
  description: Task Templates api's
- name: Priorities
  description: Priorities api's
- name: SLA
  description: SLA api's
- name: Team Maintenance Mode
  description: Team Maintenance Mode api's
- name: Postmortem
  description: Postmortem api's
- name: OnCall
  description: OnCall api's
  
  
servers:
 - url: 'https://www.zenduty.com'
 
 
paths:
  
  '/api/account/members/':
    get: 
      tags:
      - Account Member
      summary: List all Account Member objects
      description:
        Returns a list of Account Member objects. The Account Member objects are sorted by joining_date, with the most recent Account Member object appearing last.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMember'
              example:
                - unique_id: 96f437aa-ae86-46cc-a01a-b2ede620d25a
                  time_zone: UTC
                  user:
                    username: 216bba3d-7268-4a8e-89e9-6
                    first_name: Anshul
                    last_name: Rajput
                    email: anshulrajput229@gmail.com
                  joining_date: '2022-07-08T10:28:36.804578Z'
                  role: 1
                  is_verified: false
                - unique_id: 49868e5e-aa68-471b-82e2-10b6238f42f6
                  time_zone: UTC
                  user:
                    username: 507dfda0-a1fd-40e5-943a-e
                    first_name: Mary
                    last_name: Jane
                    email: maryjane@sharklasers.com
                  joining_date: '2022-07-08T10:31:56.830785Z'
                  role: 3
                  is_verified: false
                - unique_id: ab188a19-7f5c-4f6f-b7cd-d1bfa0725dcd
                  time_zone: UTC
                  user:
                    username: 85b563c8-18d0-4668-9462-9
                    first_name: Vishwa
                    last_name: Krishnakumar
                    email: vishwa@yellowant.com
                  joining_date: '2022-07-08T10:32:42.191552Z'
                  role: 2
                  is_verified: false
            application/xml:
              schema:
                $ref: '#/components/schemas/AccountMember'
              example:
                - unique_id: 96f437aa-ae86-46cc-a01a-b2ede620d25a
                  time_zone: UTC
                  user:
                    username: 216bba3d-7268-4a8e-89e9-6
                    first_name: Anshul
                    last_name: Rajput
                    email: anshulrajput229@gmail.com
                  joining_date: '2022-07-08T10:28:36.804578Z'
                  role: 1
                  is_verified: false
                - unique_id: 49868e5e-aa68-471b-82e2-10b6238f42f6
                  time_zone: UTC
                  user:
                    username: 507dfda0-a1fd-40e5-943a-e
                    first_name: Mary
                    last_name: Jane
                    email: maryjane@sharklasers.com
                  joining_date: '2022-07-08T10:31:56.830785Z'
                  role: 3
                  is_verified: false
                - unique_id: ab188a19-7f5c-4f6f-b7cd-d1bfa0725dcd
                  time_zone: UTC
                  user:
                    username: 85b563c8-18d0-4668-9462-9
                    first_name: Vishwa
                    last_name: Krishnakumar
                    email: vishwa@yellowant.com
                  joining_date: '2022-07-08T10:32:42.191552Z'
                  role: 2
                  is_verified: false
        '400':
          description: Bad Request 
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
  
  '/api/account/members/{username}/':
      parameters: 
        - name: username
          in: path
          schema:
            type: string
            description: A system-generated string that represents the username of the user who is   an account member
          required: true
      get: 
        tags:
        - Account Member
        summary: Retrieve the Account Member object
        description: Retrieve the specified Account Member object.
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AccountMember'
                example:
                  unique_id: ab188a19-7f5c-4f6f-b7cd-d1bfa0725dcd
                  time_zone: UTC
                  user:
                    username: 85b563c8-18d0-4668-9462-9
                    first_name: Vishwa
                    last_name: Krishnakumar
                    email: vishwa@yellowant.com
                  joining_date: '2022-07-08T10:32:42.191552Z'
                  role: 2
                  is_verified: false
              application/xml:
                schema:
                  $ref: '#/components/schemas/AccountMember'
                example:
                  unique_id: ab188a19-7f5c-4f6f-b7cd-d1bfa0725dcd
                  time_zone: UTC
                  user:
                    username: 85b563c8-18d0-4668-9462-9
                    first_name: Vishwa
                    last_name: Krishnakumar
                    email: vishwa@yellowant.com
                  joining_date: '2022-07-08T10:32:42.191552Z'
                  role: 2
                  is_verified: false
          '400':
            description: Bad Request
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
              application/xml:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
      put:
        tags:
          - Account Member
        summary: Update the Account Member object
        description: Updates the specified Account Member object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.
        security:
          - bearerAuth: []
        requestBody:
          description: Request body parameters to update the Account Member object
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMemberPayload'
              example:
                user:
                  username: 507dfda0-a1fd-40e5-943a-e
                  first_name: Mary
                  last_name: Jane
                role: 2
            application/xml:
              schema:
                $ref: '#/components/schemas/AccountMemberPayload'
              example:
                user:
                  username: 507dfda0-a1fd-40e5-943a-e
                  first_name: Mary
                  last_name: Jane
                role: 2
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AccountMember'
                example:
                  unique_id: 49868e5e-aa68-471b-82e2-10b6238f42f6
                  time_zone: UTC
                  user:
                    username: 507dfda0-a1fd-40e5-943a-e
                    first_name: Mary
                    last_name: Jane
                    email: maryjane@sharklasers.com
                  joining_date: '2022-07-08T10:31:56.830785Z'
                  role: 2
                  is_verified: false
              application/xml:
                  schema:
                    $ref: '#/components/schemas/AccountMember'
                  example:
                    unique_id: 49868e5e-aa68-471b-82e2-10b6238f42f6
                    time_zone: UTC
                    user:
                      username: 507dfda0-a1fd-40e5-943a-e
                      first_name: Mary
                      last_name: Jane
                      email: maryjane@sharklasers.com
                    joining_date: '2022-07-08T10:31:56.830785Z'
                    role: 2
                    is_verified: false
          '400':
            description: Bad Request
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
              application/xml:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
  
  '/api/account/teams/':
    post:
      tags:
        - Teams
      summary: Create the Team object
      description: Create the Team object by setting the values of all the required parameters passed in the request body.
      security:
        - bearerAuth: []
      requestBody:
        description: Request body parameters to create the Team object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamPayload'
            example: 
              name: Production Team
          application/xml:
            schema:
              $ref: '#/components/schemas/TeamPayload'
            example: 
              name: Production Team
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
              example:
                unique_id: 61010821-08aa-4098-94f8-f88f1990b54a
                name: Production Team
                account: 0713dc12-40b0-46ff-b0f9-c6b126399277
                creation_date: '2022-07-08'
                members:
                  - unique_id: d916157c-ff8b-43be-8e99-4b63699fdf72
                    team: 61010821-08aa-4098-94f8-f88f1990b54a
                    user:
                      username: 216bba3d-7268-4a8e-89e9-6
                      first_name: Anshul
                      last_name: Rajput
                      email: anshulrajput229@gmail.com
                    joining_date: '2022-07-08T10:41:36.600148Z'
                    role: 1
                owner: 216bba3d-7268-4a8e-89e9-6
                roles:
                  - unique_id: 89752b4a-43df-401d-9dc0-a446690a7a0e
                    team: 61010821-08aa-4098-94f8-f88f1990b54a
                    title: Incident Commander
                    description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                    creation_date: '2022-07-08T10:41:36.623257Z'
                    rank: 1
            application/xml:
              schema:
                $ref: '#/components/schemas/Team'
              example:
                unique_id: 61010821-08aa-4098-94f8-f88f1990b54a
                name: Production Team
                account: 0713dc12-40b0-46ff-b0f9-c6b126399277
                creation_date: '2022-07-08'
                members:
                  - unique_id: d916157c-ff8b-43be-8e99-4b63699fdf72
                    team: 61010821-08aa-4098-94f8-f88f1990b54a
                    user:
                      username: 216bba3d-7268-4a8e-89e9-6
                      first_name: Anshul
                      last_name: Rajput
                      email: anshulrajput229@gmail.com
                    joining_date: '2022-07-08T10:41:36.600148Z'
                    role: 1
                owner: 216bba3d-7268-4a8e-89e9-6
                roles:
                  - unique_id: 89752b4a-43df-401d-9dc0-a446690a7a0e
                    team: 61010821-08aa-4098-94f8-f88f1990b54a
                    title: Incident Commander
                    description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                    creation_date: '2022-07-08T10:41:36.623257Z'
                    rank: 1  
        '400':
          description: Bad Request 
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
    get: 
      tags:
      - Teams
      summary: List all Team objects
      description: Returns a list of Team objects. The Team objects are sorted by creation_date, with the most recent Team object appearing last. 
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
              example:
                - unique_id: 1f1b4d79-ed32-44fc-926d-f794b975200c
                  name: Operation Team
                  account: 0713dc12-40b0-46ff-b0f9-c6b126399277
                  creation_date: '2022-07-08'
                  members:
                    - unique_id: 90a97f10-d290-4bd0-9f83-525f130c6399
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 216bba3d-7268-4a8e-89e9-6
                        first_name: Anshul
                        last_name: Rajput
                        email: anshulrajput229@gmail.com
                      joining_date: '2022-07-08T10:29:36.408864Z'
                      role: 1
                    - unique_id: 4af52265-b69e-4cd0-948a-fba33933588d
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 507dfda0-a1fd-40e5-943a-e
                        first_name: Mary
                        last_name: Jane
                        email: maryjane@sharklasers.com
                      joining_date: '2022-07-08T10:31:56.849950Z'
                      role: 2
                    - unique_id: 76e76d20-2c82-49be-b987-244c8c6af57b
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 85b563c8-18d0-4668-9462-9
                        first_name: Vishwa
                        last_name: Krishnakumar
                        email: vishwa@yellowant.com
                      joining_date: '2022-07-08T10:32:42.213487Z'
                      role: 2
                  owner: 216bba3d-7268-4a8e-89e9-6
                  roles:
                    - unique_id: ce2e4fec-7fb9-440c-b400-9a33639d8ba3
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-07-08T10:29:36.431801Z'
                      rank: 1
                - unique_id: 61010821-08aa-4098-94f8-f88f1990b54a
                  name: Production Team
                  account: 0713dc12-40b0-46ff-b0f9-c6b126399277
                  creation_date: '2022-07-08'
                  members:
                    - unique_id: d916157c-ff8b-43be-8e99-4b63699fdf72
                      team: 61010821-08aa-4098-94f8-f88f1990b54a
                      user:
                        username: 216bba3d-7268-4a8e-89e9-6
                        first_name: Anshul
                        last_name: Rajput
                        email: anshulrajput229@gmail.com
                      joining_date: '2022-07-08T10:41:36.600148Z'
                      role: 1
                  owner: 216bba3d-7268-4a8e-89e9-6
                  roles:
                    - unique_id: 89752b4a-43df-401d-9dc0-a446690a7a0e
                      team: 61010821-08aa-4098-94f8-f88f1990b54a
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-07-08T10:41:36.623257Z'
                      rank: 1
            application/xml:
              schema:
                $ref: '#/components/schemas/Team'
              example:
                - unique_id: 1f1b4d79-ed32-44fc-926d-f794b975200c
                  name: Operation Team
                  account: 0713dc12-40b0-46ff-b0f9-c6b126399277
                  creation_date: '2022-07-08'
                  members:
                    - unique_id: 90a97f10-d290-4bd0-9f83-525f130c6399
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 216bba3d-7268-4a8e-89e9-6
                        first_name: Anshul
                        last_name: Rajput
                        email: anshulrajput229@gmail.com
                      joining_date: '2022-07-08T10:29:36.408864Z'
                      role: 1
                    - unique_id: 4af52265-b69e-4cd0-948a-fba33933588d
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 507dfda0-a1fd-40e5-943a-e
                        first_name: Mary
                        last_name: Jane
                        email: maryjane@sharklasers.com
                      joining_date: '2022-07-08T10:31:56.849950Z'
                      role: 2
                    - unique_id: 76e76d20-2c82-49be-b987-244c8c6af57b
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 85b563c8-18d0-4668-9462-9
                        first_name: Vishwa
                        last_name: Krishnakumar
                        email: vishwa@yellowant.com
                      joining_date: '2022-07-08T10:32:42.213487Z'
                      role: 2
                  owner: 216bba3d-7268-4a8e-89e9-6
                  roles:
                    - unique_id: ce2e4fec-7fb9-440c-b400-9a33639d8ba3
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-07-08T10:29:36.431801Z'
                      rank: 1
                - unique_id: 61010821-08aa-4098-94f8-f88f1990b54a
                  name: Production Team
                  account: 0713dc12-40b0-46ff-b0f9-c6b126399277
                  creation_date: '2022-07-08'
                  members:
                    - unique_id: d916157c-ff8b-43be-8e99-4b63699fdf72
                      team: 61010821-08aa-4098-94f8-f88f1990b54a
                      user:
                        username: 216bba3d-7268-4a8e-89e9-6
                        first_name: Anshul
                        last_name: Rajput
                        email: anshulrajput229@gmail.com
                      joining_date: '2022-07-08T10:41:36.600148Z'
                      role: 1
                  owner: 216bba3d-7268-4a8e-89e9-6
                  roles:
                    - unique_id: 89752b4a-43df-401d-9dc0-a446690a7a0e
                      team: 61010821-08aa-4098-94f8-f88f1990b54a
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-07-08T10:41:36.623257Z'
                      rank: 1
        '400':
          description: Bad Request 
          content:
            application/json:
              example:
                detail: This request can not be processed.
            application/xml:
              example:
                detail: This request can not be processed.
        '403':
          description: Forbidden 
          content:
            application/json: # operation response mime type
              example:
                detail: You do not have permission to perform this action.
            application/xml: # operation response mime type
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
                
  '/api/account/teams/{team_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of a Team
          schema:
            type: string
          required: true
      get: 
        tags:
        - Teams
        summary: Retrieve the Team object
        description: Retrieve the specified Team object.
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Team'
                example:
                  unique_id: 1f1b4d79-ed32-44fc-926d-f794b975200c
                  name: Operation Team
                  account: 0713dc12-40b0-46ff-b0f9-c6b126399277
                  creation_date: '2022-07-08'
                  members:
                    - unique_id: 90a97f10-d290-4bd0-9f83-525f130c6399
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 216bba3d-7268-4a8e-89e9-6
                        first_name: Anshul
                        last_name: Rajput
                        email: anshulrajput229@gmail.com
                      joining_date: '2022-07-08T10:29:36.408864Z'
                      role: 1
                    - unique_id: 4af52265-b69e-4cd0-948a-fba33933588d
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 507dfda0-a1fd-40e5-943a-e
                        first_name: Mary
                        last_name: Jane
                        email: maryjane@sharklasers.com
                      joining_date: '2022-07-08T10:31:56.849950Z'
                      role: 2
                    - unique_id: 76e76d20-2c82-49be-b987-244c8c6af57b
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 85b563c8-18d0-4668-9462-9
                        first_name: Vishwa
                        last_name: Krishnakumar
                        email: vishwa@yellowant.com
                      joining_date: '2022-07-08T10:32:42.213487Z'
                      role: 2
                  owner: 216bba3d-7268-4a8e-89e9-6
                  roles:
                    - unique_id: ce2e4fec-7fb9-440c-b400-9a33639d8ba3
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-07-08T10:29:36.431801Z'
                      rank: 1
              application/xml:
                schema:
                  $ref: '#/components/schemas/Team'
                example:
                  unique_id: 1f1b4d79-ed32-44fc-926d-f794b975200c
                  name: Operation Team
                  account: 0713dc12-40b0-46ff-b0f9-c6b126399277
                  creation_date: '2022-07-08'
                  members:
                    - unique_id: 90a97f10-d290-4bd0-9f83-525f130c6399
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 216bba3d-7268-4a8e-89e9-6
                        first_name: Anshul
                        last_name: Rajput
                        email: anshulrajput229@gmail.com
                      joining_date: '2022-07-08T10:29:36.408864Z'
                      role: 1
                    - unique_id: 4af52265-b69e-4cd0-948a-fba33933588d
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 507dfda0-a1fd-40e5-943a-e
                        first_name: Mary
                        last_name: Jane
                        email: maryjane@sharklasers.com
                      joining_date: '2022-07-08T10:31:56.849950Z'
                      role: 2
                    - unique_id: 76e76d20-2c82-49be-b987-244c8c6af57b
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      user:
                        username: 85b563c8-18d0-4668-9462-9
                        first_name: Vishwa
                        last_name: Krishnakumar
                        email: vishwa@yellowant.com
                      joining_date: '2022-07-08T10:32:42.213487Z'
                      role: 2
                  owner: 216bba3d-7268-4a8e-89e9-6
                  roles:
                    - unique_id: ce2e4fec-7fb9-440c-b400-9a33639d8ba3
                      team: 1f1b4d79-ed32-44fc-926d-f794b975200c
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-07-08T10:29:36.431801Z'
                      rank: 1
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
              application/xml:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
      put:
        tags:
          - Teams
        summary: Update the Team object
        description: Updates the specified Team object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.
        security:
          - bearerAuth: []
        requestBody:
          description: Request body parameters to update the Team object
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamPayload'
              example:
                name: Modified Production Team
            application/xml:
              schema:
                $ref: '#/components/schemas/TeamPayload'
              example:
                name: Modified Production Team
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Team'
                example:
                  unique_id: 61010821-08aa-4098-94f8-f88f1990b54a
                  name: Modified Production Team
                  account: 0713dc12-40b0-46ff-b0f9-c6b126399277
                  creation_date: '2022-07-08'
                  members:
                    - unique_id: d916157c-ff8b-43be-8e99-4b63699fdf72
                      team: 61010821-08aa-4098-94f8-f88f1990b54a
                      user:
                        username: 216bba3d-7268-4a8e-89e9-6
                        first_name: Anshul
                        last_name: Rajput
                        email: anshulrajput229@gmail.com
                      joining_date: '2022-07-08T10:41:36.600148Z'
                      role: 1
                  owner: 216bba3d-7268-4a8e-89e9-6
                  roles:
                    - unique_id: 89752b4a-43df-401d-9dc0-a446690a7a0e
                      team: 61010821-08aa-4098-94f8-f88f1990b54a
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-07-08T10:41:36.623257Z'
                      rank: 1
              application/xml:
                schema:
                  $ref: '#/components/schemas/Team'
                example:
                  unique_id: 61010821-08aa-4098-94f8-f88f1990b54a
                  name: Modified Production Team
                  account: 0713dc12-40b0-46ff-b0f9-c6b126399277
                  creation_date: '2022-07-08'
                  members:
                    - unique_id: d916157c-ff8b-43be-8e99-4b63699fdf72
                      team: 61010821-08aa-4098-94f8-f88f1990b54a
                      user:
                        username: 216bba3d-7268-4a8e-89e9-6
                        first_name: Anshul
                        last_name: Rajput
                        email: anshulrajput229@gmail.com
                      joining_date: '2022-07-08T10:41:36.600148Z'
                      role: 1
                  owner: 216bba3d-7268-4a8e-89e9-6
                  roles:
                    - unique_id: 89752b4a-43df-401d-9dc0-a446690a7a0e
                      team: 61010821-08aa-4098-94f8-f88f1990b54a
                      title: Incident Commander
                      description: 'The incident commander is the person responsible for all aspects of the incident response, including quickly developing incident objectives, managing all incident operations, application of resources as well as responsibility for all persons involved. The incident commander sets priorities and defines the organization of the incident response teams and the overall incident action plan.'
                      creation_date: '2022-07-08T10:41:36.623257Z'
                      rank: 1
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
              application/xml:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Teams
        summary: Delete the Team object
        description: Delete the specified Team object permanently. 
        security:
          - bearerAuth: []
        responses: 
          '204':
            description: Success
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
              application/xml: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
              application/xml: 
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{}/members/':
    parameters: 
    - name: 'team_id'
      in: path
      description: Unique ID of the Team object
      schema:
        type: string
      required: true
    post:
      tags:
        - Team Members
      summary: Create the Team Member object
      description: Create the Team Member object by setting the values of all the required parameters passed in the request body.
      security:
        - bearerAuth: []
      requestBody:
        description: Request body parameters to create the Team Member object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamMemberPayload'
            example:
              user: 507dfda0-a1fd-40e5-943a-e
          application/xml:
            schema:
              $ref: '#/components/schemas/TeamMemberPayload'
            example:
              user: 507dfda0-a1fd-40e5-943a-e
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
              example:
                unique_id: 828e4a7b-bb12-4ffc-baa5-7681634d4f7f
                team: 61010821-08aa-4098-94f8-f88f1990b54a
                user: 507dfda0-a1fd-40e5-943a-e
                joining_date: '2022-07-08T11:09:38.230395Z'
                role: 2
            application/xml:
              schema:
                $ref: '#/components/schemas/TeamMember'
              example:
                unique_id: 828e4a7b-bb12-4ffc-baa5-7681634d4f7f
                team: 61010821-08aa-4098-94f8-f88f1990b54a
                user: 507dfda0-a1fd-40e5-943a-e
                joining_date: '2022-07-08T11:09:38.230395Z'
                role: 2
        '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
    get: 
      tags:
      - Team Members
      summary: List all Team Member objects
      description: Returns a list of Team Member objects. The Team Member objects are sorted by joining_date, with the most recent Team Member object appearing last.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
              example:
                - unique_id: d916157c-ff8b-43be-8e99-4b63699fdf72
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  user:
                    username: 216bba3d-7268-4a8e-89e9-6
                    first_name: Anshul
                    last_name: Rajput
                    email: anshulrajput229@gmail.com
                  joining_date: '2022-07-08T10:41:36.600148Z'
                  role: 1
                - unique_id: 828e4a7b-bb12-4ffc-baa5-7681634d4f7f
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  user:
                    username: 507dfda0-a1fd-40e5-943a-e
                    first_name: Mary
                    last_name: Jane
                    email: maryjane@sharklasers.com
                  joining_date: '2022-07-08T11:09:38.230395Z'
                  role: 2
            application/xml:
              schema:
                $ref: '#/components/schemas/TeamMember'
              example:
                - unique_id: d916157c-ff8b-43be-8e99-4b63699fdf72
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  user:
                    username: 216bba3d-7268-4a8e-89e9-6
                    first_name: Anshul
                    last_name: Rajput
                    email: anshulrajput229@gmail.com
                  joining_date: '2022-07-08T10:41:36.600148Z'
                  role: 1
                - unique_id: 828e4a7b-bb12-4ffc-baa5-7681634d4f7f
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  user:
                    username: 507dfda0-a1fd-40e5-943a-e
                    first_name: Mary
                    last_name: Jane
                    email: maryjane@sharklasers.com
                  joining_date: '2022-07-08T11:09:38.230395Z'
                  role: 2
        '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
                
  '/api/account/teams/{team_id}/members/{member_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of the Team object
          schema:
            type: string
          required: true
        - name: 'member_id'
          in: path
          description: Unique ID of the Team Member object
          schema:
            type: string
          required: true
      get: 
        tags:
        - Team Members
        summary: Retrieve the Team Member object
        description: Retrieve the specified Team Member object.
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TeamMember'
                example:
                  unique_id: 828e4a7b-bb12-4ffc-baa5-7681634d4f7f
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  user:
                    username: 507dfda0-a1fd-40e5-943a-e
                    first_name: Mary
                    last_name: Jane
                    email: maryjane@sharklasers.com
                  joining_date: '2022-07-08T11:09:38.230395Z'
                  role: 2
              application/xml:
                schema:
                  $ref: '#/components/schemas/TeamMember'
                example:
                  unique_id: 828e4a7b-bb12-4ffc-baa5-7681634d4f7f
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  user:
                    username: 507dfda0-a1fd-40e5-943a-e
                    first_name: Mary
                    last_name: Jane
                    email: maryjane@sharklasers.com
                  joining_date: '2022-07-08T11:09:38.230395Z'
                  role: 2
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
              application/xml:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
      put:
        tags:
          - Team Members
        summary: Update the Team Member object
        description: Updates the specified Team Member object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.
        security:
          - bearerAuth: []
        requestBody:
          description: Request body parameters to update the Team Member object
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMemberPayload'
              example:
                user: 507dfda0-a1fd-40e5-943a-e
                role: 1
            application/xml:
              schema:
                $ref: '#/components/schemas/TeamMemberPayload'
              example:
                user: 507dfda0-a1fd-40e5-943a-e
                role: 1
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TeamMember'
                example:
                  unique_id: 828e4a7b-bb12-4ffc-baa5-7681634d4f7f
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  user: 507dfda0-a1fd-40e5-943a-e
                  joining_date: '2022-07-08T11:09:38.230395Z'
                  role: 1
              application/xml:
                schema:
                  $ref: '#/components/schemas/TeamMember'
                example:
                  unique_id: 828e4a7b-bb12-4ffc-baa5-7681634d4f7f
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  user: 507dfda0-a1fd-40e5-943a-e
                  joining_date: '2022-07-08T11:09:38.230395Z'
                  role: 1
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
              application/xml:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Team Members
        summary: Delete the Team Member object
        description: Delete the specified Team Member object permanently.
        security:
          - bearerAuth: []
        responses: 
          '204':
            description: Success
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
              application/xml: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
              application/xml: 
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{}/schedule/':
    parameters: 
    - name: 'team_id'
      in: path
      description: Unique ID of the Team object
      schema:
        type: string
      required: true
    post:
      tags:
        - Schedules
      summary: Create the Schedule object
      description: Create the Schedule object by setting the values of all the required parameters passed in the request body.
      security:
        - bearerAuth: []
      requestBody:
        description: Request body parameters to create the Schedule object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePayload'
            example:
              name: Daily Schedule
              summary: Daily on call schedule for modified production team
              time_zone: Asia/Kolkata
          application/xml:
            schema:
              $ref: '#/components/schemas/SchedulePayload'
            example:
              name: Daily Schedule
              summary: Daily on call schedule for modified production team
              time_zone: Asia/Kolkata
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
              example:
                name: Daily Schedule
                summary: Daily on call schedule for modified production team
                description: ''
                time_zone: Asia/Kolkata
                team: 61010821-08aa-4098-94f8-f88f1990b54a
                layers: []
                overrides: []
                unique_id: dadcec8e-e4d7-4e76-8a24-d8d6c1278d1f
            application/xml:
              schema:
                $ref: '#/components/schemas/Schedule'
              example:
                name: Daily Schedule
                summary: Daily on call schedule for modified production team
                description: ''
                time_zone: Asia/Kolkata
                team: 61010821-08aa-4098-94f8-f88f1990b54a
                layers: []
                overrides: []
                unique_id: dadcec8e-e4d7-4e76-8a24-d8d6c1278d1f
        '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
    get: 
      tags:
      - Schedules
      summary: List all Schedule objects
      description: Returns a list of Schedule objects.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
              example:
                - name: Weekly Schedule
                  summary: Weekly on call schedule for modified production team.
                  description: ''
                  time_zone: Asia/Calcutta
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  layers:
                    - shift_length: 604800
                      restrictions:
                        - duration: 14400
                          start_day_of_week: 7
                          start_time_of_day: '00:00:00'
                          unique_id: 35199b5e-a4ce-4456-8b97-2f3ee2083a85
                      name: Schedule Layer 1
                      users:
                        - user: 216bba3d-7268-4a8e-89e9-6
                          position: 1
                          unique_id: d8772886-1812-4a03-9a48-051d34547cf4
                        - user: 507dfda0-a1fd-40e5-943a-e
                          position: 2
                          unique_id: 8c3c8573-3e3c-442d-accd-4a62fee485e9
                      rotation_start_time: '2022-07-08T11:26:33Z'
                      rotation_end_time: '2023-07-15T11:26:33Z'
                      unique_id: a5ec8d44-572b-4ecd-9935-078aef6a2837
                      last_edited: '2022-07-08T11:28:47.218341Z'
                      restriction_type: 1
                      is_active: true
                  overrides:
                    - name: Override for Anshul
                      user: 507dfda0-a1fd-40e5-943a-e
                      start_time: '2022-07-09T05:57:14Z'
                      end_time: '2022-07-10T05:57:14Z'
                      unique_id: b4492ce7-7d6e-4ed1-8f41-e7c8bf4f4dfe
                  unique_id: 4a3025f3-836f-4d18-8923-7adfe5690d17
                - name: Daily Schedule
                  summary: Daily on call schedule for modified production team
                  description: ''
                  time_zone: Asia/Kolkata
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  layers: []
                  overrides: []
                  unique_id: dadcec8e-e4d7-4e76-8a24-d8d6c1278d1f
            application/xml:
              schema:
                $ref: '#/components/schemas/Schedule'
              example:
                - name: Weekly Schedule
                  summary: Weekly on call schedule for modified production team.
                  description: ''
                  time_zone: Asia/Calcutta
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  layers:
                    - shift_length: 604800
                      restrictions:
                        - duration: 14400
                          start_day_of_week: 7
                          start_time_of_day: '00:00:00'
                          unique_id: 35199b5e-a4ce-4456-8b97-2f3ee2083a85
                      name: Schedule Layer 1
                      users:
                        - user: 216bba3d-7268-4a8e-89e9-6
                          position: 1
                          unique_id: d8772886-1812-4a03-9a48-051d34547cf4
                        - user: 507dfda0-a1fd-40e5-943a-e
                          position: 2
                          unique_id: 8c3c8573-3e3c-442d-accd-4a62fee485e9
                      rotation_start_time: '2022-07-08T11:26:33Z'
                      rotation_end_time: '2023-07-15T11:26:33Z'
                      unique_id: a5ec8d44-572b-4ecd-9935-078aef6a2837
                      last_edited: '2022-07-08T11:28:47.218341Z'
                      restriction_type: 1
                      is_active: true
                  overrides:
                    - name: Override for Anshul
                      user: 507dfda0-a1fd-40e5-943a-e
                      start_time: '2022-07-09T05:57:14Z'
                      end_time: '2022-07-10T05:57:14Z'
                      unique_id: b4492ce7-7d6e-4ed1-8f41-e7c8bf4f4dfe
                  unique_id: 4a3025f3-836f-4d18-8923-7adfe5690d17
                - name: Daily Schedule
                  summary: Daily on call schedule for modified production team
                  description: ''
                  time_zone: Asia/Kolkata
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  layers: []
                  overrides: []
                  unique_id: dadcec8e-e4d7-4e76-8a24-d8d6c1278d1f
        '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
                
  '/api/account/teams/{team_id}/schedules/{schedule_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of the Team object
          schema:
            type: string
          required: true
        - name: 'schedule_id'
          in: path
          description: Unique ID of the Schedule object
          schema:
            type: string
          required: true
      get: 
        tags:
        - Schedules
        summary: Retrieve the Schedule object
        description: Retrieve the specified Schedule object.
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Schedule'
                example:
                  name: Weekly Schedule
                  summary: Weekly on call schedule for modified production team.
                  description: ''
                  time_zone: Asia/Calcutta
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  layers:
                    - shift_length: 604800
                      restrictions:
                        - duration: 14400
                          start_day_of_week: 7
                          start_time_of_day: '00:00:00'
                          unique_id: 35199b5e-a4ce-4456-8b97-2f3ee2083a85
                      name: Schedule Layer 1
                      users:
                        - user: 216bba3d-7268-4a8e-89e9-6
                          position: 1
                          unique_id: d8772886-1812-4a03-9a48-051d34547cf4
                        - user: 507dfda0-a1fd-40e5-943a-e
                          position: 2
                          unique_id: 8c3c8573-3e3c-442d-accd-4a62fee485e9
                      rotation_start_time: '2022-07-08T11:26:33Z'
                      rotation_end_time: '2023-07-15T11:26:33Z'
                      unique_id: a5ec8d44-572b-4ecd-9935-078aef6a2837
                      last_edited: '2022-07-08T11:28:47.218341Z'
                      restriction_type: 1
                      is_active: true
                  overrides:
                    - name: Override for Anshul
                      user: 507dfda0-a1fd-40e5-943a-e
                      start_time: '2022-07-09T05:57:14Z'
                      end_time: '2022-07-10T05:57:14Z'
                      unique_id: b4492ce7-7d6e-4ed1-8f41-e7c8bf4f4dfe
                  unique_id: 4a3025f3-836f-4d18-8923-7adfe5690d17
              application/xml:
                schema:
                  $ref: '#/components/schemas/Schedule'
                example:
                  name: Weekly Schedule
                  summary: Weekly on call schedule for modified production team.
                  description: ''
                  time_zone: Asia/Calcutta
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  layers:
                    - shift_length: 604800
                      restrictions:
                        - duration: 14400
                          start_day_of_week: 7
                          start_time_of_day: '00:00:00'
                          unique_id: 35199b5e-a4ce-4456-8b97-2f3ee2083a85
                      name: Schedule Layer 1
                      users:
                        - user: 216bba3d-7268-4a8e-89e9-6
                          position: 1
                          unique_id: d8772886-1812-4a03-9a48-051d34547cf4
                        - user: 507dfda0-a1fd-40e5-943a-e
                          position: 2
                          unique_id: 8c3c8573-3e3c-442d-accd-4a62fee485e9
                      rotation_start_time: '2022-07-08T11:26:33Z'
                      rotation_end_time: '2023-07-15T11:26:33Z'
                      unique_id: a5ec8d44-572b-4ecd-9935-078aef6a2837
                      last_edited: '2022-07-08T11:28:47.218341Z'
                      restriction_type: 1
                      is_active: true
                  overrides:
                    - name: Override for Anshul
                      user: 507dfda0-a1fd-40e5-943a-e
                      start_time: '2022-07-09T05:57:14Z'
                      end_time: '2022-07-10T05:57:14Z'
                      unique_id: b4492ce7-7d6e-4ed1-8f41-e7c8bf4f4dfe
                  unique_id: 4a3025f3-836f-4d18-8923-7adfe5690d17
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
              application/xml:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
      put:
        tags:
          - Schedules
        summary: Update the Schedule object
        description: Updates the specified Schedule object by setting the values of the parameters passed in the request body.
        security:
          - bearerAuth: []
        requestBody:
          description: Schedule update payload
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchedulePayload'
              example:
                name: Modified weekly Schedule
            application/xml:
              schema:
                $ref: '#/components/schemas/SchedulePayload'
              example:
                name: Modified daily Schedule
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/Schedule'
                example:
                  name: Modified daily Schedule
                  summary: Daily on call schedule for modified production team
                  description: ''
                  time_zone: Asia/Kolkata
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  layers: []
                  overrides: []
                  unique_id: dadcec8e-e4d7-4e76-8a24-d8d6c1278d1f
              application/xml:
                schema: 
                  $ref: '#/components/schemas/Schedule'
                example:
                  name: Modified daily Schedule
                  summary: Daily on call schedule for modified production team
                  description: ''
                  time_zone: Asia/Kolkata
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  layers: []
                  overrides: []
                  unique_id: dadcec8e-e4d7-4e76-8a24-d8d6c1278d1f
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
              application/xml: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Schedules
        summary: Delete the Schedule object
        description: Delete the specified Schedule object permanently.
        security:
          - bearerAuth: []
        responses:
          '204':
            description: Success
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
              application/xml:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{}/escalation_policies/':
    parameters: 
    - name: 'team_id'
      in: path
      description: Unique ID of the Team object
      schema:
        type: string
      required: true
    post:
      tags:
        - Escalation Policies
      summary: Create the Escalation Policy object
      description: Create the Escalation Policy object by setting the values of all the required parameters passed in the request body.
      security:
        - bearerAuth: []
      requestBody:
        description: Request body parameters to create the Escalation Policy object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EPPayload'
            example:
              name: Production Escalation Policy
              rules:
                - delay: 2
                  targets:
                    - target_type: 2
                      target_id: 85b563c8-18d0-4668-9462-9
                  position: 1
          application/xml:
            schema:
              $ref: '#/components/schemas/EPPayload'
            example:
              name: Production Escalation Policy
              rules:
                - delay: 2
                  targets:
                    - target_type: 2
                      target_id: 85b563c8-18d0-4668-9462-9
                  position: 1
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EP'
              example:
                name: Production Escalation Policy
                summary: ''
                description: ''
                rules:
                  - delay: 2
                    targets:
                      - target_type: 2
                        target_id: 85b563c8-18d0-4668-9462-9
                    position: 1
                    unique_id: 32b594ec-72f6-4eeb-8024-ef25a8b9f97e
                unique_id: 904cfcad-9fe1-4dc7-b578-ad0f5a2950fd
                team: 61010821-08aa-4098-94f8-f88f1990b54a
                repeat_policy: 0
                move_to_next: true
                global_ep: false
            application/xml:
              schema:
                $ref: '#/components/schemas/EP'
              example:
                name: Production Escalation Policy
                summary: ''
                description: ''
                rules:
                  - delay: 2
                    targets:
                      - target_type: 2
                        target_id: 85b563c8-18d0-4668-9462-9
                    position: 1
                    unique_id: 32b594ec-72f6-4eeb-8024-ef25a8b9f97e
                unique_id: 904cfcad-9fe1-4dc7-b578-ad0f5a2950fd
                team: 61010821-08aa-4098-94f8-f88f1990b54a
                repeat_policy: 0
                move_to_next: true
                global_ep: false
        '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
    get: 
      tags:
      - Escalation Policies
      summary: List all Escalation Policy objects
      description: Returns a list of Escalation Policy objects.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/EP'
              example:
                - name: Default Escalation Policy
                  summary: This is the default escalation policy for this team
                  description: ''
                  rules:
                    - delay: 0
                      targets:
                        - target_type: 2
                          target_id: 216bba3d-7268-4a8e-89e9-6
                      position: 1
                      unique_id: a857eb8b-28bf-4503-a1d5-a1d737c48fdc
                  unique_id: 19fdd4c3-0d4a-4a6e-9885-8c8d33ef1488
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
                - name: Infra Escalation Policy
                  summary: ''
                  description: ''
                  rules:
                    - delay: 0
                      targets:
                        - target_type: 1
                          target_id: 4a3025f3-836f-4d18-8923-7adfe5690d17
                        - target_type: 2
                          target_id: 507dfda0-a1fd-40e5-943a-e
                        - target_type: 2
                          target_id: 85b563c8-18d0-4668-9462-9
                      position: 1
                      unique_id: 23077ffc-8529-4848-89d0-1a37bdf63d4e
                    - delay: 4
                      targets:
                        - target_type: 2
                          target_id: 216bba3d-7268-4a8e-89e9-6
                      position: 2
                      unique_id: 5298ba34-f23d-49a6-a4a2-814a7beb4b54
                  unique_id: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  repeat_policy: 2
                  move_to_next: true
                  global_ep: false
                - name: Production Escalation Policy
                  summary: ''
                  description: ''
                  rules:
                    - delay: 2
                      targets:
                        - target_type: 2
                          target_id: 85b563c8-18d0-4668-9462-9
                      position: 1
                      unique_id: 32b594ec-72f6-4eeb-8024-ef25a8b9f97e
                  unique_id: 904cfcad-9fe1-4dc7-b578-ad0f5a2950fd
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
            application/xml:
              schema: 
                $ref: '#/components/schemas/EP'
              example:
                - name: Default Escalation Policy
                  summary: This is the default escalation policy for this team
                  description: ''
                  rules:
                    - delay: 0
                      targets:
                        - target_type: 2
                          target_id: 216bba3d-7268-4a8e-89e9-6
                      position: 1
                      unique_id: a857eb8b-28bf-4503-a1d5-a1d737c48fdc
                  unique_id: 19fdd4c3-0d4a-4a6e-9885-8c8d33ef1488
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
                - name: Infra Escalation Policy
                  summary: ''
                  description: ''
                  rules:
                    - delay: 0
                      targets:
                        - target_type: 1
                          target_id: 4a3025f3-836f-4d18-8923-7adfe5690d17
                        - target_type: 2
                          target_id: 507dfda0-a1fd-40e5-943a-e
                        - target_type: 2
                          target_id: 85b563c8-18d0-4668-9462-9
                      position: 1
                      unique_id: 23077ffc-8529-4848-89d0-1a37bdf63d4e
                    - delay: 4
                      targets:
                        - target_type: 2
                          target_id: 216bba3d-7268-4a8e-89e9-6
                      position: 2
                      unique_id: 5298ba34-f23d-49a6-a4a2-814a7beb4b54
                  unique_id: 9ea1f98d-b5a3-4d72-8057-2f5f3d743a44
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  repeat_policy: 2
                  move_to_next: true
                  global_ep: false
                - name: Production Escalation Policy
                  summary: ''
                  description: ''
                  rules:
                    - delay: 2
                      targets:
                        - target_type: 2
                          target_id: 85b563c8-18d0-4668-9462-9
                      position: 1
                      unique_id: 32b594ec-72f6-4eeb-8024-ef25a8b9f97e
                  unique_id: 904cfcad-9fe1-4dc7-b578-ad0f5a2950fd
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
        '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
            application/xml:
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
                
  '/api/account/teams/{team_id}/escalation_policies/{escalation_policy_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of the Team object
          schema:
            type: string
          required: true
        - name: 'escalation_policy_id'
          in: path
          description: Unique ID of the Escalation Policy object
          schema:
            type: string
          required: true
      get: 
        tags:
        - Escalation Policies
        summary: Retrieve the Escalation Policy object
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/EP'
                example:
                  name: Production Escalation Policy
                  summary: ''
                  description: ''
                  rules:
                    - delay: 2
                      targets:
                        - target_type: 2
                          target_id: 85b563c8-18d0-4668-9462-9
                      position: 1
                      unique_id: 32b594ec-72f6-4eeb-8024-ef25a8b9f97e
                  unique_id: 904cfcad-9fe1-4dc7-b578-ad0f5a2950fd
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
              application/xml:
                schema: 
                  $ref: '#/components/schemas/EP'
                example:
                  name: Production Escalation Policy
                  summary: ''
                  description: ''
                  rules:
                    - delay: 2
                      targets:
                        - target_type: 2
                          target_id: 85b563c8-18d0-4668-9462-9
                      position: 1
                      unique_id: 32b594ec-72f6-4eeb-8024-ef25a8b9f97e
                  unique_id: 904cfcad-9fe1-4dc7-b578-ad0f5a2950fd
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
              application/xml:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
      put:
        tags:
          - Escalation Policies
        summary: Update the Escalation Policy object
        description: Updates the specified Escalation Policy object by setting the values of the parameters passed in the request body. Any parameters not provided will be left unchanged.
        security:
          - bearerAuth: []
        requestBody:
          description: Request body parameters to update the Escalation Policy object
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EPPayload'
              example:
                name: Modified Production Escalation Policy
                rules:
                  - delay: 2
                    targets:
                      - target_type: 2
                        target_id: 85b563c8-18d0-4668-9462-9
                    position: 1
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EP'
                example:
                  name: Modified Production Escalation Policy
                  summary: ''
                  description: ''
                  rules:
                    - delay: 2
                      targets:
                        - target_type: 2
                          target_id: 85b563c8-18d0-4668-9462-9
                      position: 1
                      unique_id: f15f0044-25a1-4c60-888a-c7f1a6b7d4ce
                  unique_id: 904cfcad-9fe1-4dc7-b578-ad0f5a2950fd
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
              application/xml:
                schema:
                  $ref: '#/components/schemas/EP'
                example:
                  name: Modified Production Escalation Policy
                  summary: ''
                  description: ''
                  rules:
                    - delay: 2
                      targets:
                        - target_type: 2
                          target_id: 85b563c8-18d0-4668-9462-9
                      position: 1
                      unique_id: f15f0044-25a1-4c60-888a-c7f1a6b7d4ce
                  unique_id: 904cfcad-9fe1-4dc7-b578-ad0f5a2950fd
                  team: 61010821-08aa-4098-94f8-f88f1990b54a
                  repeat_policy: 0
                  move_to_next: true
                  global_ep: false
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
              application/xml: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
      delete: 
        tags:
        - Escalation Policies
        summary: Delete the Escalation Policy object
        description: Delete the specified Escalation Policy object permanently.
        security:
          - bearerAuth: []
        responses: 
          '204':
            description: Success
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
              application/xml:
                example:
                  detail: This request can not be processed.
          '403':
            description: Forbidden 
            content:
              application/json:
                example:
                  detail: You do not have permission to perform this action.
              application/xml:
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json: 
                example:
                  detail: Not Found.
              application/xml: 
                example:
                  detail: Not Found.
                  
  '/api/account/teams/{}/services/':
    parameters: 
    - name: 'team_id'
      in: path
      description: Unique ID of the Team object
      schema:
        type: string
      required: true
    post:
      tags:
        - Services
      summary: Create Service
      security:
        - bearerAuth: []
      requestBody:
        description: Servie create payload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePayload'
            example:
              name: New Service
              collation: 1
              collation_time: 1
              description: This is the description for the New Service
              escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
              team_priority: null
              sla: null
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
              example:
                name: New Service
                creation_date: '2022-06-30T09:49:45.493513Z'
                summary: ''
                description: This is the description for the New Service
                unique_id: c2631cd1-d5dd-4eed-b8d8-c8fd52e76589
                auto_resolve_timeout: 0
                created_by: 85e1569d-79a4-4205-850f-a
                team_priority: null
                task_template: null
                acknowledgement_timeout: 0
                status: 1
                escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                sla: null
                collation_time: 1
                collation: 1
        '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed.
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
    get: 
      tags:
      - Services
      summary: Get Services
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Service'
              example:
                - name: dnlv
                  creation_date: '2022-04-14T08:46:19.039007Z'
                  summary: ''
                  description: nckjxv
                  unique_id: aaf72d01-fbc0-4b2f-bc7a-a7d60040ac57
                  auto_resolve_timeout: 0
                  created_by: 85e1569d-79a4-4205-850f-a
                  team_priority: null
                  task_template: null
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  sla: null
                  under_maintenance: false
                  collation: 1
                  collation_time: 1
                - name: Modified Service
                  creation_date: '2022-06-24T11:25:51.454276Z'
                  summary: ''
                  description: This is the description for the modified Service
                  unique_id: 78bbd207-5852-44d1-8812-83dd8b0938f5
                  auto_resolve_timeout: 0
                  created_by: 85e1569d-79a4-4205-850f-a
                  team_priority: null
                  task_template: null
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  sla: null
                  under_maintenance: false
                  collation: 1
                  collation_time: 1
                - name: New Service
                  creation_date: '2022-06-30T09:49:45.493513Z'
                  summary: ''
                  description: This is the description for the New Service
                  unique_id: c2631cd1-d5dd-4eed-b8d8-c8fd52e76589
                  auto_resolve_timeout: 0
                  created_by: 85e1569d-79a4-4205-850f-a
                  team_priority: null
                  task_template: null
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  sla: null
                  under_maintenance: false
                  collation: 1
                  collation_time: 1
        '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed. 
        '403':
          description: Forbidden 
          content:
            application/json:
              example:
                detail: You do not have permission to perform this action.
        '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
              application/xml:
                example:
                  detail: Not Found.
                
  '/api/account/teams/{team_id}/services/{service_id}/':
      parameters: 
        - name: 'team_id'
          in: path
          description: Unique ID of a Team
          schema:
            type: string
          required: true
        - name: 'service_id'
          in: path
          description: Unique ID of a Service
          schema:
            type: string
          required: true
      get: 
        tags:
        - Services
        summary: Get Service by ID
        security:
          - bearerAuth: []
        responses:
          '200':
            description: OK
            content:
              application/json: 
                schema: 
                  $ref: '#/components/schemas/Service'
                example:
                  name: New Service
                  creation_date: '2022-06-30T09:49:45.493513Z'
                  summary: ''
                  description: This is the description for the New Service
                  unique_id: c2631cd1-d5dd-4eed-b8d8-c8fd52e76589
                  auto_resolve_timeout: 0
                  created_by: 85e1569d-79a4-4205-850f-a
                  team_priority: null
                  task_template: null
                  acknowledgement_timeout: 0
                  status: 1
                  escalation_policy: 0487dcc1-e900-48d0-880d-f7662766cd07
                  team: f4a66a8c-7d2e-4c2b-bc16-5c38e5031a86
                  sla: null
                  under_maintenance: false
                  collation: 1
                  collation_time: 1
          '400':
            description: Bad Request 
            content:
              application/json:
                example:
                  detail: This request can not be processed. 
          '403':
            description: Forbidden 
            content:
              application/json: 
                example:
                  detail: You do not have permission to perform this action.
          '404':
            description: Not Found 
            content:
              application/json:
                example:
                  detail: Not Found.
      put:
        tags:
          - Services
        summary: Update Service
        security:
          - bearerAuth: []
        requestBody:
          description: Service update payload
          required: true
          content:
[...]
